.bottom-btns {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 16px;
  text-align: right;
  background-color: #fff;
  border-top: 1px solid #e9e9e9;
  > button {
    &:first-child {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: 10px;
    }
  }
}

.container {
  .list-wrap {
    margin-top: 5px;
    padding: 10px 10px 0;
    background-color: #fff;
  }

  .btn-group {
    margin-bottom: 10px;
  }
  .icon-download {
    font-size: 24px;
    cursor: pointer;
    &:hover {
      color: #4c83b3;
    }
  }
}

.editable-row {
  :global {
    .ant-row.ant-form-item {
      margin-bottom: 0 !important;
    }
    .ant-form-explain {
      position: absolute;
      margin-top: -4px;
      font-size: 12px;
    }
  }
}

.drawer-container {
  .account-error {
    margin-bottom: 10px;
    color: #f4374c;
    > .icon {
      margin-right: 6px;
    }
  }
  .tip {
    height: 150px;
    line-height: 150px;
    text-align: center;
  }
}
.account-error-container {
  ul {
    width: 400px;
    max-height: 150px;
    margin: 0;
    padding: 6px;
    overflow-y: auto;
    > li:hover {
      span {
        color: #f4374c;
      }
    }
  }
  :global {
    .ant-popover-arrow {
      display: block;
    }
    .ant-popover-inner {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }
}
