.customSearchArea {
  position: relative;
  height: 111px;
  overflow: auto;
  background-color: #fff;
}

.bulk {
  display: flex;
  height: 100%;
  font-size: 12px;
  border: 1px dashed #000;
  &.active {
    border-color: #0d87d4ff;
  }
  .left {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: center;
    width: 0;
    border-right: 1px solid #000;
    div {
      overflow-x: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .rigth {
    display: flex;
    flex: 6;
    align-items: center;
    margin-left: 5px;
    span {
      margin-left: 5px;
    }
  }
}

.widgetArea {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 456px;
  height: 29px;
  background-color: #59636c;
  border: 1px solid #59636c;
  .editArea {
    float: left;
    width: 408px;
    height: 100%;
    background-color: #fff;
  }
  .closeArea {
    float: left;
    height: 100%;
    padding-right: 6px;
    padding-left: 8px;
    color: #fff;
    font-size: 11px;
    line-height: 26px;
    background-color: #59636c;
  }
}

:global {
  .react-grid-layout {
    position: relative;
    transition: height 200ms ease;
  }
  .react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
  }
  .react-grid-item.cssTransforms {
    transition-property: transform;
  }
  .react-grid-item.resizing {
    z-index: 1;
    will-change: width, height;
  }

  .react-grid-item.react-draggable-dragging {
    z-index: 3;
    transition: none;
    will-change: transform;
  }

  .react-grid-item.dropping {
    visibility: hidden;
  }

  .react-grid-item.react-grid-placeholder {
    z-index: 2;
    background: red;
    opacity: 0.2;
    transition-duration: 100ms;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
  }

  .react-grid-item > .react-resizable-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20px;
    height: 20px;
    cursor: se-resize;
  }

  .react-grid-item > .react-resizable-handle::after {
    position: absolute;
    right: 3px;
    bottom: 3px;
    width: 5px;
    height: 5px;
    border-right: 2px solid rgba(0, 0, 0, 0.4);
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
    content: '';
  }
}
