@import '~@/assets/css/variable.less';
:global {
  .proLayout .ant-select-selection,
  .ant-drawer-right .ant-select-selection,
  .ant-popover-inner-content .ant-select-selection {
    background-color: unset !important;
    border: 1px solid rgba(151, 154, 168, 1) !important;
    border: 1px solid transparent;
    border-radius: 1px;
  }
  .ant-radio-wrapper {
    display: block;
  }
}
.list-container {
  padding: 0 4px;
  :global {
    .ant-table-thead tr th {
      background-color: #fff;
    }
    .ant-table-tbody tr {
      &.active {
        color: #10416c;
        background: rgba(242, 246, 248, 1);
      }
    }
    .ant-list-bordered .ant-list-header {
      padding: 0;
    }
    .ant-input[disabled] {
      padding: 0;
      color: unset;
      background-color: #fff;
      border: none;
    }
    .ant-btn {
      width: auto;
      &:last-child {
        margin-right: 0;
      }
    }

    .ant-radio-button-wrapper {
      width: 85px;
      height: 30px;
      padding: 0;
      color: #464c51;
      font-weight: 500;
      font-size: 12px;
      font-family: Avenir, sans-serif;
      text-align: center;
      background-color: #fff;
      border: none;
      border-radius: unset;
      outline: none;
      a {
        display: block;
        width: 100%;
        height: 30px;
      }
    }
    .ant-radio-button-wrapper:first-child {
      border: none;
    }
    .ant-radio-group-solid
      .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      color: #464c51;
      background: #fff;
      border-bottom: 2px solid #0d87d4;
      border-radius: unset;
      outline: none;
      box-shadow: 0 0 0 0 #0d87d4 !important;
    }

    .proLayout .ant-input-disabled,
    .ant-drawer-right .ant-input-disabled,
    .ant-popover-inner-content .ant-input-disabled {
      background-color: #fff !important;
      border: none !important;
    }
    // .ant-input-affix-wrapper .ant-input-suffix {
    //     left: 8px;
    // }
    .ant-input-affix-wrapper .ant-input {
      // padding-left:28px;
      line-height: unset;
      vertical-align: middle;
    }
    .ant-radio-button-wrapper:not(:first-child)::before {
      background-color: #fff !important;
    }
    .ant-form-item-label {
      width: 47.82%;
      text-align: left;
      vertical-align: top;
    }
    .ant-form-item-control-wrapper {
      display: inline-block;
      width: 52.18%;
      vertical-align: top;
    }
    .ant-typography {
      margin-bottom: 0;
    }
    // .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    //   box-shadow: unset;
    // }
  }

  .list {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(166, 171, 173, 0.6);
  }
  .tabBtnBox {
    .page-name {
      display: inline-block;
      margin-right: 15px;
      color: #464c51;
      font-weight: 500;
      > .icon {
        margin-right: 6px;
        font-size: 12px;
      }
    }
  }
  .btns {
    .btn-icon {
      color: #464c51 !important;
      font-size: 14px !important;
      vertical-align: middle;
    }
    .icon {
      color: rgba(188, 198, 204, 1);
      font-size: 16px;
      vertical-align: middle;
      cursor: pointer;
      &:nth-child(2) {
        margin: 0 8px;
        font-size: 19px;
      }
    }
    .icon:hover {
      color: #0d87d4;
    }
  }
}

.detail-container {
  margin-bottom: 20px;
  .tab-content {
    padding: 0 18px;
  }
  .tab-scroll-content {
    height: 360px;
    padding: 0 18px;
    overflow-x: hidden;
    overflow-y: auto;
  }
  :global {
    .ant-tabs .ant-tabs-bar {
      position: relative;
      background-color: #f0f2f4;
    }
    .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
      width: 108px;
      height: 40px;
      margin: 0;
      padding: 0;
      color: #464c51;
      font-size: 14px;
      font-family: Avenir, sans-serif;
      line-height: 40px;
      text-align: center;
    }
    .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab-active {
      width: 108px;
      height: 40px;
      margin: 0;
      padding: 0;
      color: rgba(70, 76, 81, 1);
      font-weight: 500;
      font-size: 14px;
      font-family: Avenir, sans-serif;
      line-height: 40px;
      text-align: center;
      background: rgba(217, 231, 241, 1);
    }
    .ant-tabs-ink-bar {
      height: 0;
    }
  }

  .fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    overflow-y: auto;
    color: #464c51;
    background-color: #fff;
  }
  .ListBox {
    padding-bottom: 18px;
    :global {
      .ant-form-item {
        width: 100%;
        margin-bottom: 0 !important;
      }
      .ant-list-item {
        padding: 0;
      }
      .ant-list-split .ant-list-item:last-child {
        border-bottom: 1px solid #e8e8e8;
      }
    }

    .ListItem {
      display: flex;
      align-items: center;
      width: 100%;
      min-height: 40px;
      .formBox {
        width: 69%;
        :global {
          .ant-calendar-picker {
            width: 100%;
          }
        }
      }
      .oldValueBox {
        height: 40px;
        padding-left: 5px;
        line-height: 40px;
      }
      .confirmBiToBox {
        width: 31%;
        padding-left: 20px;
        :global {
          .ant-form-item-label {
            width: 100%;
          }
          .ant-form-item-control-wrapper {
            width: 100%;
          }
        }
      }

      p {
        width: 33%;
        margin: 0;
        // margin-left: 5px;
        color: #464c51;
        font-weight: 500;
        font-size: 14px;
        font-family: Avenir, sans-serif;
      }
      // p:nth-child(1) {
      //   opacity:0.7;
      // }
      p:nth-child(2) {
        width: 36%;
      }
      p:nth-child(3) {
        width: 31%;
        padding-left: 5px;
      }
      // .selectsItem {
      //   width: 50%;
      //   overflow: hidden;
      //   white-space: nowrap;
      //   text-overflow: ellipsis;

      // }
    }
  }

  .detail-des {
    background-color: #fff;
    // box-shadow: 0 0 4px 0 rgba(166, 171, 173, 0.6);

    .fullscreen-icon {
      position: absolute;
      top: 47px;
      right: 10px;
      z-index: 1000;
      font-size: 22px;
      cursor: pointer;
    }
  }
  .detail-comment-box {
    .detail-comment {
      background-color: #fff;
    }
    :global {
      .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
        width: 137px;
      }
      .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab-active {
        width: 137px !important;
      }
    }

    .comment-list {
      min-height: 213px;
      max-height: 300px;
      margin: 0 0 18px;
      padding: 0 18px;
      overflow-y: auto;
    }
    .loading-more {
      text-align: center;
      > button {
        height: 30px;
      }
    }
    .comment-box {
      padding-top: 8px;
      background-color: #f6f9fa;
      > .txt {
        height: 100px;
      }
      .comment-commit {
        height: 30px;
        background-color: #fff;
        .phrase-btn {
          width: 56px;
          height: 30px;
          padding: 0;
          color: #464c51;
          font-weight: 500;
          font-size: 12px;
          font-family: Avenir, sans-serif;
          background-color: #d5ebf8;
          border: none;
        }

        .attachments-icon {
          position: relative;
          display: inline-block;
          width: 24px;
          height: 24px;
          margin-right: 8px;
          text-align: center;
          background: rgba(225, 234, 239, 1);
          border-radius: 50%;
          cursor: pointer;
          .btn-icon {
            font-size: 12.5px;
          }

          .attachments-num {
            position: absolute;
            right: -13px;
            bottom: 1px;
            width: 15px;
            height: 15px;
            color: rgba(70, 76, 81, 1);
            font-size: 12px;
          }
        }
        .attachments-icon:hover {
          background-color: #0d87d4;
          .btn-icon {
            color: #fff;
          }
        }
      }
      .up-attachments {
        background-color: #eef1f4;
        .file-desc {
          display: flex;
          justify-content: space-between;
          padding: 4px 10px;
          color: #3d4a59;
          span:last-child {
            cursor: pointer;
            &:hover {
              color: #1e416c;
            }
          }
        }
        > ul {
          margin: 0;
          padding: 6px 16px;
          color: #464c51;
        }
      }
    }
  }

  .reportHistory {
    width: 100%;
    :global {
      // .ant-table {
      //   border: 1px solid #d9d9d9;
      // }
      .ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
        color: unset;
        background: #fff;
      }
      .ant-table-column-title {
        font-size: 12px;
      }
      .ant-table-tbody {
        font-size: 12px;
      }
      .ant-empty-normal {
        margin: 0;
      }
      .ant-table-placeholder {
        border-bottom: 1px solid #e8e8e8 !important;
      }
    }
  }
}

// .antd-pro-pages-alert-center-index-btns button {
//   margin-right: 10px;
// }

.processBox {
  position: absolute;
  top: 7px;
  right: 0;
  left: 0;
  z-index: 100;
  width: 200px;
  height: 30px;
  margin: auto;
  background-color: #fff;
  p {
    margin: 0;
    text-align: center;
  }
}

.phases-container {
  .phase {
    margin: 0;
    padding: 6px 10px;
    > li {
      cursor: pointer;
      &:hover {
        color: #4c83b3;
      }
    }
  }
}
