{{#if flag}}
    <p>No Data</p>
{{else}}
  {{#each this}}
    <li>
        <a href="#">
            <span class="subject" style="margin-left: 0;">
                <span class="from">{{sendAddress}}</span>
                <span class="time">{{dateTimeStamp sendTime}}</span>
            </span>
            <span class="message" style="margin-left: 0;">{{mailTopic}}</span>
        </a>
    </li>
  {{/each}}
{{/if}}