.modifyDataSet {
  :global {
    .CodeMirror-hints {
      z-index: 999999;

      // li {
      //   padding: 5px 10px;
      //   color: #10416c;
      //   font-size: 12px;
      // }

      // li.CodeMirror-hint-active {
      //   color: #10416c;
      //   background-color: #efefef;
      // }
    }

    // pre.CodeMirror-line {
    //   padding-top: 5px;
    //   padding-left: 10px;
    // }
  }
}

.codeMirrorStyle {
  :global {
    .ant-form-item-control {
      border: 1px solid #d9d9d9;
    }
  }
  .tips {
    height: 55px;
    border-top: 1px solid #d9d9d9;
  }
}
