.approvalAuditor {
  padding: 10px !important;
  background-color: #fff !important;

  .contentBox {
    position: relative;
    display: flex;
    .leftBox {
      // background: #f6f8fb;
    }
    .rightBox {
      width: 100%;
      min-height: calc(100vh - 200px);
      padding: 10px;
      iframe {
        width: 100%;
        min-height: calc(100vh - 200px);
        border: none;
      }
    }
  }
}
.drawerBox {
  :global {
    .ant-radio-wrapper {
      display: block;
      margin-top: 6px;
    }
  }
}
