.dataProcessingWraper {
  padding: 20px;
  background: #fff;
  :global {
    .ant-table-wrapper {
      max-height: 440px;
    }
  }
}
.dataTableWraper {
  display: flex;
  // width: 100%;
  .cutOff {
    width: 1px;
    height: inherit;
    margin: 0 10px;
    background-color: #dadbdd;
  }
  .dataTable {
    flex: 0 0 50% !important;
  }
  .dataItemTable {
    flex: 0 0 50% !important;
  }
}
.startProcessingBtn {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  border: 1px solid #ccc;
  cursor: pointer;
}
.startProcessingWraper {
  margin-top: 30px;
  padding: 0;
}
