.approvalDesign {
  padding: 10px !important;
  background-color: #fff !important;
  :global {
    .ant-upload-list {
      display: none !important;
    }
  }

  .contentBox {
    position: relative;
    display: flex;
    .rightBox {
      width: 100%;
      height: calc(100vh - 200px);
      padding: 10px;
      background-color: #fff;
      img {
        width: 100%;
      }
    }
  }
}
