.approvalDesign {
  padding: 10px !important;
  background-color: #fff !important;
  .contentBox {
    position: relative;
    display: flex;
    .leftBox {
      // background: #f6f8fb;
    }
    .rightBox {
      width: 100%;
      height: calc(100vh - 200px);
      padding: 10px;
      background-color: #fff;
      img {
        width: 100%;
      }
    }
  }
}
