@import '~@/assets/css/utils.less';
.sideBar {
  &.layout {
    height: 100%;
    background-color: #f6f8fb;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 0 8px;
    .title {
      color: #10416c;
      font-weight: 700;
      font-size: 12px;
    }
    i {
      color: #0599e8ff;
      cursor: pointer;
    }
  }
  .content {
    background-color: #f6f8fb;
    :global {
      .ant-collapse-header {
        height: 30px;
        padding: 0 0 0 6px;
        font-size: 12px !important;
        line-height: 30px;
        background-color: #e7edf2;
        .ant-collapse-arrow {
          right: 6px;
        }
      }
      .ant-collapse-content-box {
        padding: 0 6px 0 6px;
        background-color: #f6f8fb;
      }
      .ant-collapse-borderless > .ant-collapse-item {
        border-bottom: 0;
      }
      .ant-form {
        label {
          font-size: 12px;
        }
        .ant-form-item {
          margin-bottom: 0;
          padding-bottom: 4px;
        }
        .ant-form-item-control {
          line-height: 30px;
        }
        .ant-form-item-label {
          line-height: 30px;
        }
        .ant-input {
          height: 25px;
          border-radius: 0;
        }
        .ant-select-selection {
          height: 25px;
          border-radius: 0;
        }
        .ant-select-selection__rendered {
          line-height: 25px;
        }
        .ant-checkbox + span {
          padding-right: 0;
          padding-left: 4px;
        }
        .ant-radio-group.ant-radio-group-outline {
          width: 100%;
        }
        .ant-radio-button-wrapper {
          width: 33.333333%;
          padding: 0;
          text-align: center;
          border-radius: 0;
          &.ant-radio-button-wrapper-checked {
            background-color: #0599e8ff;
            .anticon {
              color: #fff;
            }
          }
        }
      }
    }
  }
  .sider {
    background-color: #f6f8fb !important;
    border-left: 1px #d6e2ec solid;
    :global {
      .ant-layout-sider-children {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .anticon {
        padding: 7px 0;
        cursor: pointer;
      }
      .active {
        color: #0599e8ff;
      }
    }
  }
  .topList {
    height: 100%;
  }
  .divider {
    height: 1px;
    margin: 0 6px;
    background-color: #ddd;
  }
  &.left {
    background-color: #f6f8fb;
    .datasetSelect {
      .clearfix();
      .select {
        float: left;
        width: 278px;
      }
      .icon {
        float: left;
        width: 22px;
      }
    }
    .list {
      padding-left: 0;
      li {
        height: 25px;
        padding-left: 36.5px;
        font-size: 12px;
        line-height: 23px;
        &.blue {
          background-color: #e7eff3;
          border: 1px solid #abc6df;
        }
        &.orange {
          background-color: #f3ece2ff;
          border: 1px solid #f0be78ff;
        }
        .icon {
          position: relative;
          top: 3px;
          padding-right: 5px;
          font-size: 17px;
          &.blue {
            color: #059ae8;
          }
          &.orange {
            color: #ff6a00ff;
          }
        }
      }
    }
  }
}

.addon {
  position: absolute;
  right: 0;
  align-items: center;
  width: 30px;
  height: 28px;
  padding: 3px 8px;
  border: 1px solid #ddd;
  border-left: 0;
  cursor: pointer;
}

.treeParent {
  height: 28px;
  padding-left: 8px;
  line-height: 28px;
}

.iconwenjianjia {
  position: relative;
  top: 2px;
  font-size: 20px;
}

.tree {
  :global {
    .ant-tree li {
      padding: 0;
    }
    .ant-tree-child-tree > li:first-child {
      padding: 0;
    }
    .ant-tree-switcher {
      z-index: 100;
    }
    .ant-tree li .ant-tree-node-content-wrapper:hover {
      background-color: transparent;
    }
    .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
      background-color: transparent;
    }
    .ant-tree-node-content-wrapper {
      width: calc(100% - 25px);
    }
    // 树打开
    .ant-tree-node-content-wrapper-open {
      .folder {
        display: none;
      }
      .folderOpen {
        display: inline-block;
      }
    }
    // 树关闭
    .ant-tree-node-content-wrapper-close {
      .folder {
        display: inline-block;
      }
      .folderOpen {
        display: none;
      }
    }
  }
}

.treeTitle {
  position: relative;
  .title {
    position: relative;
  }
  .hoverArea {
    position: absolute;
    left: -1000px;
    width: 2000px;
    height: 100%;
  }
  .hoverBlock {
    position: absolute;
    left: -1000px;
    width: 2000px;
    height: 100%;
    background-color: #e6f3faff;
    border: 1px solid #ccddecff;
  }
  .operationArea {
    position: absolute;
    top: 0;
    right: 13.5px;
  }
}
