a {
	color: #515d6e
}

.font-10-b {
	font-style: normal;
	font-size: 10px;
	font-weight: bold
}

.font-10, .c-btn-like-a>i {
	font-style: normal;
	font-size: 10px;
	font-weight: 300
}

.font-12-b, .c-container .c-sm-title p small {
	font-style: normal;
	font-size: 12px;
	font-weight: bold
}

.font-12, .c-navbar .navbar-right a, .c-container .c-li70>li p,
	.c-container .c-left-little-head .btn, .c-container .c-input-likea,
	.c-container .c-form .form-control, .c-container .c-form .checkbox label,
	.c-container .c-form .btn.btn-xs, .c-container .btn-undericon a,
	.c-container small {
	font-style: normal;
	font-size: 12px
}

.font-13-b, .c-btn-fb, .c-container .c-quick-nav>div .c-quick-nav-info h4
	{
	font-style: normal;
	font-size: 13px;
	font-weight: bold
}

.font-13, .ibtn, .c-navbar .c-navbar-nav li a, .c-navbar .c-navbar-nav li a i,
	.c-container .c-btn-icon-sm, .c-container .c-form .control-label,
	.c-form1 .form-group input, .c-form1 .control-label, .c-btn-like-a>span
	{
	font-style: normal;
	font-size: 13px
}

.font-14-b, .c-container .c-title-n h5, .c-container .nav-tabs>li.active>a,
	.c-container .nav-tabs>li.active>a:hover, .c-container .nav-tabs>li.active>a:focus
	{
	font-style: normal;
	font-size: 14px;
	font-weight: bold
}

.font-14, .c-container .c-li70>li h5, .c-container .c-li70>li div>i,
	.c-container .c-li40>li>h5, .c-container .c-li40>li>button,
	.c-container .c-li40>li>button:disabled:hover, .c-container .c-li40>li>button:disabled:active,
	.c-form1 .checkbox label {
	font-style: normal;
	font-size: 14px
}

.font-15-b, .c-container .c-li70>li div>i:hover, .c-container .c-li70>li div>i:active,
	.c-container .c-left-little-head em, .c-container .c-li40>li>button:hover,
	.c-container .c-li40>li>button:active, .c-container .c-sm-title p,
	.label-title, .modal .modal-header h4>span {
	font-style: normal;
	font-size: 15px;
	font-weight: bold
}

.font-15, .c-container .c-sm-title .c-title-menu i, .login-wrap .login-box .login-title
	{
	font-style: normal;
	font-size: 15px
}

.font-16-b, .c-container .c-title60 h5 {
	font-style: normal;
	font-size: 16px;
	font-weight: bold
}

.font-16 {
	font-style: normal;
	font-size: 16px
}

.font-17-b {
	font-style: normal;
	font-size: 17px;
	font-weight: bold
}

.font-17, .c-container .c-li70>li>i, .c-container .c-li40>li>i,
	.c-container .c-quick-nav>div .c-quick-nav-icon>i {
	font-style: normal;
	font-size: 17px
}

.font-18-b {
	font-style: normal;
	font-size: 18px;
	font-weight: bold
}

.font-18 {
	font-style: normal;
	font-size: 18px
}

.font-20-b {
	font-style: normal;
	font-size: 20px;
	font-weight: bold
}

.font-20 {
	font-style: normal;
	font-size: 20px
}

.font-21-b {
	font-style: normal;
	font-size: 21px;
	font-weight: bold
}

.font-21 {
	font-style: normal;
	font-size: 21px
}

.font-22-b {
	font-style: normal;
	font-size: 22px;
	font-weight: bold
}

.font-22 {
	font-style: normal;
	font-size: 22px
}

.font-24-b, .c-container .c-quick-nav>div .c-quick-nav-info p {
	font-style: normal;
	font-size: 24px;
	font-weight: bold
}

.font-24 {
	font-style: normal;
	font-size: 24px
}

.font-26, .modal .modal-header h4>i {
	font-style: normal;
	font-size: 26px
}

.btn {
	letter-spacing: 1px
}

.btn-small {
	padding: 3px 10px;
	font-size: 12px;
	line-height: 1.4;
	border-radius: 3px
}

.btn-green {
	background: #26B99A;
	border: 1px solid #169F85;
	color: #fff
}

.btn-green:focus, .btn-green.focus {
	color: #fff;
	background-color: #169f85;
	border-color: #398439
}

.btn-green:hover {
	color: #fff;
	background-color: #169f85;
	border-color: #398439
}

.btn-green:active, .btn-green.active, .open>.dropdown-toggle.btn-green {
	color: #fff;
	background-color: #169f85;
	border-color: #398439
}

.btn-green:active:hover, .btn-green.active:hover, .open>.dropdown-toggle.btn-green:hover,
	.btn-green:active:focus, .btn-green.active:focus, .open>.dropdown-toggle.btn-green:focus,
	.btn-green:active.focus, .btn-green.active.focus, .open>.dropdown-toggle.btn-green.focus
	{
	color: #fff;
	background-color: #169f85;
	border-color: #398439
}

.btn-green:active, .btn-green.active, .open>.dropdown-toggle.btn-green {
	background-image: none
}

.ibtn {
	background: transparent;
	line-height: 1.2;
	color: #515d6e
}

.c-transition-easein, .c-navbar-inverse .navbar-nav a, .c-container .c-li70>li div>i,
	.c-container .c-left-little-head .btn, .c-container .c-li40>li>button,
	.c-container .btn-undericon a, .c-btn-like-a {
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in
}

.c-box-shadow, .c-container .left-col, .c-container .modal-left-col {
	box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.2)
}

.c-title, .c-container .c-title-n {
	background: #fff;
	border-bottom: 1px solid #dee1e7;
	border-right: 1px solid #dee1e7
}

body, html {
	font-family: Arial, "Microsoft YaHei", sans-serif;
	background-color: #f5f8fb;
	height: 100%;
	width: 100%;
	color: #515d6e;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.c-navbar {
	background-color: #35404f;
	border-radius: 0;
	border: 0
}

.c-navbar .navbar-header {
	width: 160px;
	padding-left: 20px
}

.c-navbar .c-navbar-nav li {
	cursor: pointer
}

.c-navbar .c-navbar-nav li a i {
	padding-right: 3px
}

.c-navbar .navbar-right a {
	color: #84909e !important;
	cursor: pointer
}

.c-navbar-inverse .navbar-nav>.active>a, .c-navbar-inverse .navbar-nav>.active>a:hover,
	.c-navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #2d3946
}

.c-navbar-inverse .navbar-nav>li>a {
	color: #c7d1dc
}

.c-navbar-brand {
	padding: 5px 15px 0 15px
}

.c-container-pt50 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	padding-top: 50px
}

.c-main-body-absolut {
	position: absolute;
	top: 61px;
	bottom: 0;
	left: 0;
	right: 0
}

.c-btn-fb {
	color: #515d6e
}

.c-container-p15 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px;
	position: relative;
	height: 100%
}

.c-container-padform {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px 20px 16px 10px;
	position: relative;
	height: 100%
}

.c-container-p16 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	position: relative;
	height: 100%
}

.c-container-plr {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px;
	position: relative;
	height: 100%
}

.c-bg-b-w {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #dee1e7;
	padding: 10px
}

.c-bg-w {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	padding: 10px
}

.c-border {
	border: 1px solid #dee1e7
}

.c-border-lrb {
	border-left: 1px solid #dee1e7;
	border-right: 1px solid #dee1e7;
	border-bottom: 1px solid #dee1e7;
	background: #fff
}

.c-bg-b-tnull-w {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border-right: 1px solid #dee1e7;
	border-left: 1px solid #dee1e7;
	border-bottom: 1px solid #dee1e7;
	padding: 10px
}

.c-contanier-pb20 {
	padding-bottom: 20px
}

.c-container {
	width: 100%;
	height: 100%;
	padding: 0;
	position: relative
}

.c-container .left-col {
	z-index: 3;
	position: absolute;
	left: 0;
	width: 250px;
	top: 0;
	height: 100%;
	background: #fff
}

.c-container .right-col {
	margin-left: 250px;
	height: 100%;
	position: relative
}

.c-container .c-container-height {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%
}

.c-container .c-borderbottom {
	border-bottom: 1px solid #dee1e7
}

.c-container .c-scrollY {
	overflow-y: auto;
	overflow-x: hidden
}

.c-container .c-scrollX {
	overflow-x: auto;
	overflow-y: hidden
}

.c-container .c-li70>li {
	height: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 15px;
	cursor: pointer
}

.c-container .c-li70>li>i {
	line-height: 26px;
	color: #52bf8a;
	padding-right: 10px
}

.c-container .c-li70>li h5 {
	color: #515d6e;
	line-height: 1.6;
	padding: 0;
	margin: 0;
	width: 140px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden
}

.c-container .c-li70>li p {
	color: #858d9f;
	line-height: 1
}

.c-container .c-li70>li div>i {
	line-height: 26px;
	padding-left: 6px;
	color: #66728c;
	cursor: pointer
}

.c-container .c-li70>li div>i:hover, .c-container .c-li70>li div>i:active
	{
	color: #515d6e
}

.c-container .c-left-little-head {
	height: 56px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 15px
}

.c-container .c-left-little-head em {
	color: #515d6e;
	line-height: 26px
}

.c-container .c-left-little-head .t_dropm_newTask {
	min-width: 110px
}

.c-container .c-left-little-head .btn {
	background: #638ca6;
	color: #fff;
	border: 0;
	float: right;
	padding: 5px 10px;
	margin-left: 5px
}

.c-container .c-left-little-head .btn:hover, .c-container .c-left-little-head .btn:active
	{
	background: #567b93;
	color: #fff
}

.c-container .c-input-likea {
	border: 0;
	background: transparent;
	font-weight: 500;
	color: #66728c;
	outline: none
}

.c-container .c-btn-icon-sm {
	font-weight: 400
}

.c-container .ell {
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden
}

.c-container .c-left-tree>li li span.tree-title {
	display: inline-block;
	width: 162px;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	-o-text-overflow: ellipsis !important;
	overflow: hidden !important
}

.c-container .c-form .col-sm-10 {
	padding: 0
}

.c-container .c-form .col-sm-9 {
	padding: 0
}

.c-container .c-form .col-sm-2 {
	padding: 0
}

.c-container .c-form .col-sm-3 {
	padding: 0
}

.c-container .c-form .col-sm-4 {
	padding: 0
}

.c-container .c-form .col-sm-5 {
	padding: 0
}

.c-container .c-form .col-sm-12 {
	padding: 0
}

.c-container .c-form .control-label {
	padding: 5px 15px 0 0;
	color: #515d6e
}

.c-container .c-form .form-group {
	margin-bottom: 5px
}

.c-container .c-form .form-control {
	padding: 2px 6px;
	height: 24px;
	border-radius: 2px;
	color: #000
}

.c-container .c-form .checkbox label {
	color: #515d6e
}

.c-container .c-form .checkbox label input {
	margin-top: 2px
}

.c-container .c-form input[type='file'] {
	display: inline-block;
	padding: 5px 10px 5px 0
}

.c-container .c-form .btn.btn-xs {
	padding-left: 10px;
	padding-right: 10px;
	color: #515d6e;
	font-weight: normal
}

.c-container .c-form textarea.form-control {
	height: auto
}

.c-container .c-form .cols-horizontal .col-sm-3 {
	padding: 0 5px
}

.c-container .c-form .tip-section {
	position: relative
}

.c-container .c-form .tip-section>div {
	position: absolute;
	top: 0;
	left: 0px;
	/*right: 40px*/
	width: 100%;
}

.c-container .c-li-active {
	background: #dde6eb
}

.c-container .c-alert-sm {
	width: 60%;
	position: absolute;
	top: 22%;
	z-index: 3;
	left: 50%;
	margin-left: -30%
}

.c-container .modal-left-col {
	position: absolute;
	left: 0;
	width: 230px;
	top: 0;
	height: 100%;
	background: #fff
}

.c-container .modal-left-col .c-left-wrap {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%
}

.c-container .modal-right-col {
	margin-left: 230px;
	height: 100%;
	height: 350px;
	background: #f5f8fb
}

.c-container .c-li40>li {
	height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px;
	cursor: pointer
}

.c-container .c-li40>li>i {
	line-height: 48px;
	color: #52bf8a;
	padding-right: 10px
}

.c-container .c-li40>li>h5 {
	color: #66728c;
	line-height: 48px;
	padding: 0;
	margin: 0
}

.c-container .c-li40>li>button {
	display: block;
	background: transparent;
	border: 0;
	outline: none;
	padding: 0;
	line-height: 48px;
	color: #e45f56;
	cursor: pointer
}

.c-container .c-li40>li>button:disabled {
	color: #858d9f
}

.c-container .c-title-n {
	padding-left: 15px;
	padding-right: 15px
}

.c-container .c-title-n h5 {
	padding: 0;
	margin: 0;
	color: #66728c;
	line-height: 39px;
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden
}

.c-container .c-title-n .c-btn-likea {
	line-height: 1;
	padding: 11px 0 0 5px;
	margin: 0;
	color: #66728c
}

.c-container .btn-undericon {
	margin-left: 10px;
	padding-top: 4px
}

.c-container .btn-undericon:hover a, .c-container .btn-undericon:active a
	{
	color: #26B99A
}

.c-container .btn-undericon a {
	background: transparent;
	font-weight: 500;
	color: #66728c;
	padding: 1px 0px;
	cursor: pointer
}

.c-container .btn-undericon a:hover, .c-container .btn-undericon a:active
	{
	text-decoration: none
}

.c-container .btn-undericon .c-btn-icon-sm {
	line-height: 1;
	color: #26B99A;
	padding: 0 2px 0 0
}

.c-container .c-title60 {
	height: 61px;
	padding-top: 10px
}

.c-container .c-titile40 {
	height: 40px
}

.c-container small {
	color: #858d9f;
	letter-spacing: 1px
}

.c-container .c-container-bg {
	background: #f5f8fb
}

.c-container .box-toptool {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 35px;
	width: 100%;
	height: 100%
}

.c-container .c-float-wrap {
	height: 100%
}

.c-container .c-float-wrap>div {
	float: left;
	height: 100%
}

.c-container .c-float-wrap .c-float-35p {
	width: 35%;
	height: 100%
}

.c-container .c-float-wrap .c-float-7p {
	width: 7%;
	height: 100%
}

.c-container .c-float-wrap .c-float-58p {
	width: 58%;
	height: 100%
}

.c-container .c-absolute-middle-wrap {
	position: absolute;
	top: 35%;
	left: 50%;
	width: 42px;
	margin-left: -21px
}

.c-container .c-absolute-middle-wrap .c-btn40 {
	display: block;
	width: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 10px;
	line-height: 1.5
}

.c-container .c-absolute-middle-wrap .c-btn40 i {
	display: block;
	line-height: 1.5;
	color: #515d6e
}

.c-container .nav-tabs>li.active>a, .c-container .nav-tabs>li.active>a:hover,
	.c-container .nav-tabs>li.active>a:focus {
	color: #66728c
}

.c-container .nav-tabs>li>a:hover {
	background: #f5f8fb
}

.c-container .c-quick-nav {
	display: block;
	cursor: pointer;
	margin: 0;
	padding: 0;
	width: 25%;
	height: 70px
}

.c-container .c-quick-nav>div {
	border: 1px solid #dee1e7;
	padding: 10px 15px;
	background: #fff;
	margin-right: 15px
}

.c-container .c-quick-nav>div .c-quick-nav-icon {
	border-radius: 24px;
	height: 48px;
	width: 48px;
	background: #6dc6cd;
	text-align: center
}

.c-container .c-quick-nav>div .c-quick-nav-icon>i {
	line-height: 46px;
	color: #fff
}

.c-container .c-quick-nav>div .c-quick-nav-info h4 {
	color: #515d6e;
	margin: 0;
	padding: 6px 0 0 15px;
	line-height: 1
}

.c-container .c-quick-nav>div .c-quick-nav-info p {
	color: #6dc6cd;
	padding: 6px 6px 0px 15px;
	line-height: 1;
	margin: 0
}

.c-container .c-sm-title {
	padding: 10px 15px
}

.c-container .c-sm-title div.c-icon-wrap {
	border-radius: 17px;
	text-align: center;
	height: 34px;
	width: 34px;
	background: #52bf8a;
}

.c-container .c-sm-title div.c-icon-wrap i {
	color: #fff;
	line-height: 32px
}

.c-container .c-sm-title p {
	color: #66728c;
	line-height: 34px;
	padding: 0 0 0 10px;
	margin: 0
}

.c-container .c-sm-title p small {
	color: #858d9f
}

.c-container .c-sm-title .c-title-menu i {
	cursor: pointer;
	padding: 10px 5px 0 0;
	color: #66728c
}

.c-container .c-h100-wrap {
	height: 100%;
	position: relative;
	overflow: hidden
}

.c-container .c-h100-wrap .c-h60 {
	height: 258px;
	overflow: hidden;
	position: relative
}

.c-container .c-h100-wrap .c-h60 .c-ab-t56b {
	position: absolute;
	top: 56px;
	bottom: 0;
	width: 100%
}

.c-container .c-h100-wrap .c-h60 .c-ab-t56b .c-plan-table {
	height: 100%;
	width: 100%
}

.c-container .c-h100-wrap .c-ab-tb {
	position: absolute;
	top: 328px;
	bottom: 0;
	width: 100%
}

.c-container .c-h100-wrap .c-ab-tb .c-h40 {
	overflow: hidden;
	height: 100%;
	position: relative
}

.c-container .c-h100-wrap .c-ab-tb .c-h40 .c-ab-t74b {
	position: absolute;
	top: 72px;
	bottom: 0;
	width: 100%;
	background: red
}

.c-container .c-ab-t56bs {
	position: absolute;
	top: 56px;
	bottom: 0px;
	width: 100%
}

.c-container .c-ab-t56bs .c-plan-table {
	height: 100%;
	width: 100%
}

.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px
}

.label-title {
	line-height: 30px;
	color: #515d6e;
	border-bottom: 1px solid #999999;
	margin: 15px 0px 10px 0px
}

.c-form1 .col-sm-9 {
	padding: 0 0px 0 0px
}

.c-form1 .col-sm-3 {
	padding: 0 15px 0 0
}

.c-form1 .ts-form {
	border-top: 1px solid #dee1e7;
	margin-top: 25px;
	padding: 18px 0 0 0
}

.c-form1 .sql-form .col-sm-4 {
	padding: 0 15px 0 0
}

.c-form1 .sql-form .col-sm-2 {
	padding: 0 0px 0 15px
}

.c-form1 .sql-form .control-label-r {
	text-align: right
}

.c-form1 .sql-form .col-sm-12 {
	padding: 0 0px 0 0px
}

.c-form1 .sql-form .btn-xs {
	margin-top: 4px
}

.c-form1 .sql-form .sql-form-wrap {
	border-top: 1px solid #dee1e7;
	margin-top: 15px;
	padding: 12px 0 0 0
}

.c-form1 .form-group {
	margin: 0 0 12px 0;
	padding: 0 15px
}

.c-form1 .form-group input {
	padding: 5px 6px 5px 6px;
	height: 30px;
	color: #66728c
}

.c-form1 .control-label {
	padding: 5px 5px 0 0px;
	text-align: left;
	color: #515d6e
}

.c-form1 input[type='file'] {
	display: inline-block;
	padding: 5px 10px 5px 0
}

.c-form1 .form-control {
	padding: 5px 6px;
	height: 30px
}

.c-form1 textarea.form-control {
	height: auto
}

.c-form1 .checkbox {
	padding-left: 4px;
	margin-bottom: 8px
}

.c-form1 .checkbox label {
	color: #515d6e
}

.modal .modal-dialog.c-modal-big {
	width: 700px
}

.modal .modal-dialog.c-modal-bigMore {
	width: 830px
}

.modal .modal-dialog.c-modal-m {
	width: 460px
}

.modal .modal-header {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 15px
}

.modal .modal-header h4>i {
	color: #638ca6;
	padding-right: 10px;
	line-height: 1
}

.modal .modal-header h4>span {
	color: #66728c;
	line-height: 1;
	padding-top: 6px;
	margin-right: 35px
}

.c-btn-like-a {
	margin-right: 12px;
	padding: 5px 5px 3px 5px;
	line-height: 1;
	display: block;
	border-bottom: 2px solid transparent;
	cursor: pointer
}

.c-btn-like-a>i {
	color: #52bf8a
}

.c-btn-like-a>span {
	color: #66728c;
	padding-left: 5px
}

.c-btn-like-a:hover {
	text-decoration: none;
	border-bottom: 2px solid #52bf8a
}

.login-wrap {
	position: relative;
	height: 100%
}

.login-wrap .login-box {
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -270px;
	width: 520px;
	height: 345px;
	background: #fff;
	border: 1px solid #dee1e7
}

.login-wrap .login-box .login-title {
	height: 45px;
	background: #638ca6;
	color: #fff;
	line-height: 45px;
	padding: 0 15px
}

.login-wrap .login-box .btn-sign {
	width: 100%;
	height: 35px;
	background: #638ca6;
	color: #fff
}

#main_tab_box .tabs {
	display: none
}

.images-name {
	position: absolute;
	left: 10px;
	top: 3px;
	z-index: 999;
}

.images-name1 {
	position: absolute;
	left: 35px;
	top: 3px;
	z-index: 100;
}

.pull_img {
	width: 17px;
	height: 20px;
	margin-top: 14px;
	margin-right: 10px;
	float: left
}

.pull_img1 {
	width: 25px;
	height: 25px;
	margin-top: 7px;
	margin-right: 10px;
	float: left
}

.Task-number {
	padding: 0;
	height: 25px;
}

.bor_no td {
	padding: 5px 5px;
}

.easyui-back span {
	background: none;
}

.easyui_img {
	position: absolute;
	top: 3px;
	left: 3px;
}

.moveout, .active_gai {
	border-bottom: 3px solid #0485E2;
}

.active_gai i {
	color: #0485E2;
}

.dropdown-menu .active_gai a, .dropdown-menu .moveout a {
	background: #337AB7;
	color: #fff;
}

.ui_p input {
	border-radius: 4px;
	border: 1px solid #ccc;
}

.col-sm-D .tx-editor-wrapper .tx-editor {
	height: 230px;
}

.tubiao i {
	position: absolute;
	left: 2px;
}

.btn_tb2 td, .btn_tb2 th {
	padding: 10px 10px 0 0;
}

.combobox-item {
	position: relative;
}

.combo_left {
	margin-left: 15px;
}

.combobox_input {
	position: absolute;
	top: 0;
	left: 2;
}

.line {
	height: 25px;
	line-height: 25px;
	margin: 10px 3px 3px 10px;
}

.imp {
	padding-left: 25px;
}

.col {
	width: 95px;
}

.m-Journal h4 {
	cursor: pointer;
	font-size: 13px;
	margin: 0;
	text-align: center;
	line-height: 60px;
	color: #fff;
}

.m-Journal li {
	position: relative;
}

.m-Journal img {
	position: absolute;
	top: 18px;
	left: 20px;
	width: 20px;
}

.m-Journal .m-on h4 {
	background: #A0A0A0;
}

.fc-week {
	background: #fff;
}

.m-quakuty li {
	height: 59px;
}

.m-quakuty h3 {
	line-height: 36px;
}

.login-wrap .login-box .color {
	background: #67A663;
}

.progressd {
	width: 90%;
	margin: 20px 5%;
	border: 1px solid #000;
	background: #000;
}

.progressd h4 {
	font-size: 18px;
	color: #fff;
	padding: 0 10px 10px;
	border-bottom: 1px solid #fff;
}

.Speed_prog img {
	width: 30px;
	height: 30px;
	float: left;
	margin-left: 20px;
}

.Schedule_p {
	width: 70%;
	height: 30px;
	background: #fff;
	margin-left: 50px;
	border-radius: 5px;
}

.Schedule {
	float: left;
	width: 80%;
}

.Speed_prog {
	padding-top: 10px;
}

.Schedule_p i {
	display: block;
	background: #0485E2;
	height: 30px;
	border-radius: 5px;
}

.Schedule_number {
	font-size: 18px;
	color: #fff;
}

.screen_form {
	margin-top: 20px;
	overflow: hidden;
}

.screen_left {
	float: left;
}

.screen {
	padding: 3px 0 0;
}

.shrink_screen .screen_conset {
	float: left;
	margin-top: 10px;
}

.shrink_screen {
	height: 46px;
}

.shrink_screen .sousuo {
	float: left;
	margin: 10px 0px;
	width: 50px;
	height: 25px;
}

.shrink_screen .top_stop {
	display: none;
}

.shrink_screen .top_bottom {
	display: block;
}

.shrink_bottom .screen_conset {
	float: left;
	margin-top: 33px;
}

.shrink_bottom {
	height: 90px;
}

.shrink_bottom .sousuo {
	float: left;
	margin: 33px 0px;
	width: 50px;
	height: 25px;
}

.shrink_bottom .top_stop {
	display: block;
}

.shrink_bottom .top_bottom {
	display: none;
}

.important {
	font-size: 18px;
	color: #f00;
}

.dropdown-menu>.menus>a {
	color: #fff;
	text-decoration: none;
	background-color: #337ab7;
	outline: 0;
}

.text_control {
	padding: 0 12px;
	font-size: 12px;
	line-height: 20px;
}

a {
	color: #515d6e
}

.font-10-b {
	font-style: normal;
	font-size: 10px;
	font-weight: bold
}

.font-10, .c-btn-like-a>i {
	font-style: normal;
	font-size: 10px;
	font-weight: 300
}

.font-12-b, .c-container .c-sm-title p small {
	font-style: normal;
	font-size: 12px;
	font-weight: bold
}

.font-12, .c-navbar .navbar-right a, .c-container .c-li70>li p,
	.c-container .c-left-little-head .btn, .c-container .c-input-likea,
	.c-container .c-form .form-control, .c-container .c-form .checkbox label,
	.c-container .c-form .btn.btn-xs, .c-container .btn-undericon a,
	.c-container small {
	font-style: normal;
	font-size: 12px
}

.font-13-b, .c-btn-fb, .c-container .c-quick-nav>div .c-quick-nav-info h4
	{
	font-style: normal;
	font-size: 13px;
	font-weight: bold
}

.font-13, .ibtn, .c-navbar .c-navbar-nav li a, .c-navbar .c-navbar-nav li a i,
	.c-container .c-btn-icon-sm, .c-container .c-form .control-label,
	.c-form1 .form-group input, .c-form1 .control-label, .c-btn-like-a>span
	{
	font-style: normal;
	font-size: 13px
}

.font-14-b, .c-container .c-title-n h5, .c-container .nav-tabs>li.active>a,
	.c-container .nav-tabs>li.active>a:hover, .c-container .nav-tabs>li.active>a:focus
	{
	font-style: normal;
	font-size: 14px;
	font-weight: bold
}

.font-14, .c-container .c-li70>li h5, .c-container .c-li70>li div>i,
	.c-container .c-li40>li>h5, .c-container .c-li40>li>button,
	.c-container .c-li40>li>button:disabled:hover, .c-container .c-li40>li>button:disabled:active,
	.c-form1 .checkbox label {
	font-style: normal;
	font-size: 14px
}

.font-15-b, .c-container .c-li70>li div>i:hover, .c-container .c-li70>li div>i:active,
	.c-container .c-left-little-head em, .c-container .c-li40>li>button:hover,
	.c-container .c-li40>li>button:active, .c-container .c-sm-title p,
	.label-title, .modal .modal-header h4>span {
	font-style: normal;
	font-size: 15px;
	font-weight: bold
}

.font-15, .c-container .c-sm-title .c-title-menu i, .login-wrap .login-box .login-title
	{
	font-style: normal;
	font-size: 15px
}

.font-16-b, .c-container .c-title60 h5 {
	font-style: normal;
	font-size: 16px;
	font-weight: bold
}

.font-16 {
	font-style: normal;
	font-size: 16px
}

.font-17-b {
	font-style: normal;
	font-size: 17px;
	font-weight: bold
}

.font-17, .c-container .c-li70>li>i, .c-container .c-li40>li>i,
	.c-container .c-quick-nav>div .c-quick-nav-icon>i {
	font-style: normal;
	font-size: 17px
}

.font-18-b {
	font-style: normal;
	font-size: 18px;
	font-weight: bold
}

.font-18 {
	font-style: normal;
	font-size: 18px
}

.font-20-b {
	font-style: normal;
	font-size: 20px;
	font-weight: bold
}

.font-20 {
	font-style: normal;
	font-size: 20px
}

.font-21-b {
	font-style: normal;
	font-size: 21px;
	font-weight: bold
}

.font-21 {
	font-style: normal;
	font-size: 21px
}

.font-22-b {
	font-style: normal;
	font-size: 22px;
	font-weight: bold
}

.font-22 {
	font-style: normal;
	font-size: 22px
}

.font-24-b, .c-container .c-quick-nav>div .c-quick-nav-info p {
	font-style: normal;
	font-size: 24px;
	font-weight: bold
}

.font-24 {
	font-style: normal;
	font-size: 24px
}

.font-26, .modal .modal-header h4>i {
	font-style: normal;
	font-size: 26px
}

.btn {
	letter-spacing: 1px
}

.btn-small {
	padding: 3px 10px;
	font-size: 12px;
	line-height: 1.4;
	border-radius: 3px
}

.btn-green {
	background: #26B99A;
	border: 1px solid #169F85;
	color: #fff
}

.btn-green:focus, .btn-green.focus {
	color: #fff;
	background-color: #169f85;
	border-color: #398439
}

.btn-green:hover {
	color: #fff;
	background-color: #169f85;
	border-color: #398439
}

.btn-green:active, .btn-green.active, .open>.dropdown-toggle.btn-green {
	color: #fff;
	background-color: #169f85;
	border-color: #398439
}

.btn-green:active:hover, .btn-green.active:hover, .open>.dropdown-toggle.btn-green:hover,
	.btn-green:active:focus, .btn-green.active:focus, .open>.dropdown-toggle.btn-green:focus,
	.btn-green:active.focus, .btn-green.active.focus, .open>.dropdown-toggle.btn-green.focus
	{
	color: #fff;
	background-color: #169f85;
	border-color: #398439
}

.btn-green:active, .btn-green.active, .open>.dropdown-toggle.btn-green {
	background-image: none
}

.ibtn {
	background: transparent;
	line-height: 1.2;
	color: #515d6e
}

.c-transition-easein, .c-navbar-inverse .navbar-nav a, .c-container .c-li70>li div>i,
	.c-container .c-left-little-head .btn, .c-container .c-li40>li>button,
	.c-container .btn-undericon a, .c-btn-like-a {
	transition: all .3s ease-in;
	-webkit-transition: all .3s ease-in;
	-moz-transition: all .3s ease-in
}

.c-box-shadow, .c-container .left-col, .c-container .modal-left-col {
	box-shadow: 4px 0px 5px rgba(0, 0, 0, 0.2)
}

.c-title, .c-container .c-title-n {
	background: #fff;
	border-bottom: 1px solid #dee1e7;
	border-right: 1px solid #dee1e7
}

body, html {
	font-family: Arial, "Microsoft YaHei", sans-serif;
	background-color: #f5f8fb;
	height: 100%;
	width: 100%;
	color: #515d6e;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.c-navbar {
	background-color: #35404f;
	border-radius: 0;
	border: 0
}

.c-navbar .navbar-header {
	width: 160px;
	padding-left: 20px
}

.c-navbar .c-navbar-nav li {
	cursor: pointer
}

.c-navbar .c-navbar-nav li a i {
	padding-right: 3px
}

.c-navbar .navbar-right a {
	color: #84909e !important;
	cursor: pointer
}

.c-navbar-inverse .navbar-nav>.active>a, .c-navbar-inverse .navbar-nav>.active>a:hover,
	.c-navbar-inverse .navbar-nav>.active>a:focus {
	color: #fff;
	background-color: #2d3946
}

.c-navbar-inverse .navbar-nav>li>a {
	color: #c7d1dc
}

.c-navbar-brand {
	padding: 5px 15px 0 15px
}

.c-container-pt50 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;
	padding-top: 50px
}

.c-main-body-absolut {
	position: absolute;
	top: 61px;
	bottom: 0;
	left: 0;
	right: 0
}

.c-btn-fb {
	color: #515d6e
}

.c-container-p15 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px;
	position: relative;
	height: 100%
}

.c-container-padform {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 16px 20px 16px 10px;
	position: relative;
	height: 100%
}

.c-container-p16 {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	position: relative;
	height: 100%
}

.c-container-plr {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px;
	position: relative;
	height: 100%
}

.c-bg-b-w {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #dee1e7;
	padding: 10px
}

.c-bg-w {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	padding: 10px
}

.c-border {
	border: 1px solid #dee1e7
}

.c-border-lrb {
	border-left: 1px solid #dee1e7;
	border-right: 1px solid #dee1e7;
	border-bottom: 1px solid #dee1e7;
	background: #fff
}

.c-bg-b-tnull-w {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border-right: 1px solid #dee1e7;
	border-left: 1px solid #dee1e7;
	border-bottom: 1px solid #dee1e7;
	padding: 10px
}

.c-contanier-pb20 {
	padding-bottom: 20px
}

.c-container {
	width: 100%;
	height: 100%;
	padding: 0;
	position: relative
}

.c-container .left-col {
	z-index: 3;
	position: absolute;
	left: 0;
	width: 250px;
	top: 0;
	height: 100%;
	background: #fff
}

.c-container .right-col {
	margin-left: 250px;
	height: 100%;
	position: relative
}

.c-container .c-container-height {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%
}

.c-container .c-borderbottom {
	border-bottom: 1px solid #dee1e7
}

.c-container .c-scrollY {
	overflow-y: auto;
	overflow-x: hidden
}

.c-container .c-scrollX {
	overflow-x: auto;
	overflow-y: hidden
}

.c-container .c-li70>li {
	height: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 15px;
	cursor: pointer
}

.c-container .c-li70>li>i {
	line-height: 26px;
	color: #52bf8a;
	padding-right: 10px
}

.c-container .c-li70>li h5 {
	color: #515d6e;
	line-height: 1.6;
	padding: 0;
	margin: 0;
	width: 140px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden
}

.c-container .c-li70>li p {
	color: #858d9f;
	line-height: 1
}

.c-container .c-li70>li div>i {
	line-height: 26px;
	padding-left: 6px;
	color: #66728c;
	cursor: pointer
}

.c-container .c-li70>li div>i:hover, .c-container .c-li70>li div>i:active
	{
	color: #515d6e
}

.c-container .c-left-little-head {
	height: 56px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 15px
}

.c-container .c-left-little-head em {
	color: #515d6e;
	line-height: 26px
}

.c-container .c-left-little-head .t_dropm_newTask {
	min-width: 110px
}

.c-container .c-left-little-head .btn {
	background: #638ca6;
	color: #fff;
	border: 0;
	float: right;
	padding: 5px 10px;
	margin-left: 5px
}

.c-container .c-left-little-head .btn:hover, .c-container .c-left-little-head .btn:active
	{
	background: #567b93;
	color: #fff
}

.c-container .c-input-likea {
	border: 0;
	background: transparent;
	font-weight: 500;
	color: #66728c;
	outline: none
}

.c-container .c-btn-icon-sm {
	font-weight: 400
}

.c-container .ell {
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden
}

.c-container .c-left-tree>li li span.tree-title {
	display: inline-block;
	width: 162px;
	white-space: nowrap !important;
	text-overflow: ellipsis !important;
	-o-text-overflow: ellipsis !important;
	overflow: hidden !important
}

.c-container .c-form .col-sm-10 {
	padding: 0
}

.c-container .c-form .col-sm-9 {
	padding: 0
}

.c-container .c-form .col-sm-2 {
	padding: 0
}

.c-container .c-form .col-sm-3 {
	padding: 0
}

.c-container .c-form .col-sm-4 {
	padding: 0
}

.c-container .c-form .col-sm-5 {
	padding: 0
}

.c-container .c-form .col-sm-12 {
	padding: 0
}

.c-container .c-form .control-label {
	padding: 5px 15px 0 0;
	color: #515d6e
}

.c-container .c-form .form-group {
	margin-bottom: 8px
}

.c-container .c-form .form-control {
	padding: 2px 6px;
	height: 24px;
	border-radius: 2px;
	color: #000
}

.c-container .c-form .checkbox label {
	color: #515d6e
}

.c-container .c-form .checkbox label input {
	margin-top: 2px
}

.c-container .c-form input[type='file'] {
	display: inline-block;
	padding: 5px 10px 5px 0
}

.c-container .c-form .btn.btn-xs {
	padding-left: 10px;
	padding-right: 10px;
	color: #515d6e;
	font-weight: normal
}

.c-container .c-form textarea.form-control {
	height: auto
}

.c-container .c-form .cols-horizontal .col-sm-3 {
	padding: 0 5px
}

.c-container .c-form .tip-section {
	position: relative
}

.c-container .c-form .tip-section>div {
	position: absolute;
	top: 0;
	left: 0px;
	right: 40px
}

.c-container .c-li-active {
	background: #dde6eb
}

.c-container .c-alert-sm {
	width: 60%;
	position: absolute;
	top: 22%;
	z-index: 3;
	left: 50%;
	margin-left: -30%
}

.c-container .modal-left-col {
	position: absolute;
	left: 0;
	width: 230px;
	top: 0;
	height: 100%;
	background: #fff
}

.c-container .modal-left-col .c-left-wrap {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%
}

.c-container .modal-right-col {
	margin-left: 230px;
	height: 100%;
	height: 350px;
	background: #f5f8fb
}

.c-container .c-li40>li {
	height: 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px;
	cursor: pointer
}

.c-container .c-li40>li>i {
	line-height: 48px;
	color: #52bf8a;
	padding-right: 10px
}

.c-container .c-li40>li>h5 {
	color: #66728c;
	line-height: 48px;
	padding: 0;
	margin: 0
}

.c-container .c-li40>li>button {
	display: block;
	background: transparent;
	border: 0;
	outline: none;
	padding: 0;
	line-height: 48px;
	color: #e45f56;
	cursor: pointer
}

.c-container .c-li40>li>button:disabled {
	color: #858d9f
}

.c-container .c-title-n {
	padding-left: 15px;
	padding-right: 15px
}

.c-container .c-title-n h5 {
	padding: 0;
	margin: 0;
	color: #66728c;
	line-height: 39px;
	width: 150px;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden
}

.c-container .c-title-n .c-btn-likea {
	line-height: 1;
	padding: 11px 0 0 5px;
	margin: 0;
	color: #66728c
}

.c-container .btn-undericon {
	margin-left: 10px;
	padding-top: 4px
}

.c-container .btn-undericon:hover a, .c-container .btn-undericon:active a
	{
	color: #26B99A
}

.c-container .btn-undericon a {
	background: transparent;
	font-weight: 500;
	color: #66728c;
	padding: 1px 0px;
	cursor: pointer
}

.c-container .btn-undericon a:hover, .c-container .btn-undericon a:active
	{
	text-decoration: none
}

.c-container .btn-undericon .c-btn-icon-sm {
	line-height: 1;
	color: #26B99A;
	padding: 0 2px 0 0
}

.c-container .c-title60 {
	height: 61px;
	padding-top: 10px
}

.c-container .c-titile40 {
	height: 40px
}

.c-container small {
	color: #858d9f;
	letter-spacing: 1px
}

.c-container .c-container-bg {
	background: #f5f8fb
}

.c-container .box-toptool {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 35px;
	width: 100%;
	height: 100%
}

.c-container .c-float-wrap {
	height: 100%
}

.c-container .c-float-wrap>div {
	float: left;
	height: 100%
}

.c-container .c-float-wrap .c-float-35p {
	width: 35%;
	height: 100%
}

.c-container .c-float-wrap .c-float-7p {
	width: 7%;
	height: 100%
}

.c-container .c-float-wrap .c-float-58p {
	width: 58%;
	height: 100%
}

.c-container .c-absolute-middle-wrap {
	position: absolute;
	top: 35%;
	left: 50%;
	width: 42px;
	margin-left: -21px
}

.c-container .c-absolute-middle-wrap .c-btn40 {
	display: block;
	width: 40px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 10px;
	line-height: 1.5
}

.c-container .c-absolute-middle-wrap .c-btn40 i {
	display: block;
	line-height: 1.5;
	color: #515d6e
}

.c-container .nav-tabs>li.active>a, .c-container .nav-tabs>li.active>a:hover,
	.c-container .nav-tabs>li.active>a:focus {
	color: #66728c
}

.c-container .nav-tabs>li>a:hover {
	background: #f5f8fb
}

.c-container .c-quick-nav {
	display: block;
	cursor: pointer;
	margin: 0;
	padding: 0;
	width: 25%;
	height: 70px
}

.c-container .c-quick-nav>div {
	border: 1px solid #dee1e7;
	padding: 10px 15px;
	background: #fff;
	margin-right: 15px
}

.c-container .c-quick-nav>div .c-quick-nav-icon {
	border-radius: 24px;
	height: 48px;
	width: 48px;
	background: #6dc6cd;
	text-align: center
}

.c-container .c-quick-nav>div .c-quick-nav-icon>i {
	line-height: 46px;
	color: #fff
}

.c-container .c-quick-nav>div .c-quick-nav-info h4 {
	color: #515d6e;
	margin: 0;
	padding: 6px 0 0 15px;
	line-height: 1
}

.c-container .c-quick-nav>div .c-quick-nav-info p {
	color: #6dc6cd;
	padding: 6px 6px 0px 15px;
	line-height: 1;
	margin: 0
}

.c-container .c-sm-title {
	padding: 10px 15px
}

.c-container .c-sm-title div.c-icon-wrap {
	border-radius: 17px;
	height: 34px;
	width: 34px;
	background: #52bf8a;
	text-align: center
}

.c-container .c-sm-title div.c-icon-wrap i {
	color: #fff;
	line-height: 32px
}

.c-container .c-sm-title p {
	color: #66728c;
	line-height: 34px;
	padding: 0 0 0 10px;
	margin: 0
}

.c-container .c-sm-title p small {
	color: #858d9f
}

.c-container .c-sm-title .c-title-menu i {
	cursor: pointer;
	padding: 10px 5px 0 0;
	color: #66728c
}

.c-container .c-h100-wrap {
	height: 100%;
	position: relative;
	overflow: hidden
}

.c-container .c-h100-wrap .c-h60 {
	height: 258px;
	overflow: hidden;
	position: relative
}

.c-container .c-h100-wrap .c-h60 .c-ab-t56b {
	position: absolute;
	top: 56px;
	bottom: 0;
	width: 100%
}

.c-container .c-h100-wrap .c-h60 .c-ab-t56b .c-plan-table {
	height: 100%;
	width: 100%
}

.c-container .c-h100-wrap .c-ab-tb {
	position: absolute;
	top: 328px;
	bottom: 0;
	width: 100%
}

.c-container .c-h100-wrap .c-ab-tb .c-h40 {
	overflow: hidden;
	height: 100%;
	position: relative
}

.c-container .c-h100-wrap .c-ab-tb .c-h40 .c-ab-t74b {
	position: absolute;
	top: 72px;
	bottom: 0;
	width: 100%;
	background: red
}

.c-container .c-ab-t56bs {
	position: absolute;
	top: 56px;
	bottom: 0px;
	width: 100%
}

.c-container .c-ab-t56bs .c-plan-table {
	height: 100%;
	width: 100%
}

.form-horizontal .form-group {
	margin-right: 0px;
	margin-left: 0px
}

.label-title {
	line-height: 30px;
	color: #515d6e;
	border-bottom: 1px solid #999999;
	margin: 15px 0px 10px 0px
}

.c-form1 .col-sm-9 {
	padding: 0 0px 0 0px
}

.c-form1 .col-sm-3 {
	padding: 0 15px 0 0
}

.c-form1 .ts-form {
	border-top: 1px solid #dee1e7;
	margin-top: 25px;
	padding: 18px 0 0 0
}

.c-form1 .sql-form .col-sm-4 {
	padding: 0 15px 0 0
}

.c-form1 .sql-form .col-sm-2 {
	padding: 0 0px 0 15px
}

.c-form1 .sql-form .control-label-r {
	text-align: right
}

.c-form1 .sql-form .col-sm-12 {
	padding: 0 0px 0 0px
}

.c-form1 .sql-form .btn-xs {
	margin-top: 4px
}

.c-form1 .sql-form .sql-form-wrap {
	border-top: 1px solid #dee1e7;
	margin-top: 15px;
	padding: 12px 0 0 0
}

.c-form1 .form-group {
	margin: 0 0 12px 0;
	padding: 0 15px
}

.c-form1 .form-group input {
	padding: 5px 6px 5px 6px;
	height: 30px;
	color: #66728c
}

.c-form1 .control-label {
	padding: 5px 5px 0 0px;
	text-align: left;
	color: #515d6e
}

.c-form1 input[type='file'] {
	display: inline-block;
	padding: 5px 10px 5px 0
}

.c-form1 .form-control {
	padding: 5px 6px;
	height: 30px
}

.c-form1 textarea.form-control {
	height: auto
}

.c-form1 .checkbox {
	padding-left: 4px;
	margin-bottom: 8px
}

.c-form1 .checkbox label {
	color: #515d6e
}

.modal .modal-dialog.c-modal-big {
	width: 700px
}

.modal .modal-dialog.c-modal-bigMore {
	width: 830px
}

.modal .modal-dialog.c-modal-m {
	width: 460px
}

.modal .modal-header {
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	padding: 15px
}

.modal .modal-header h4>i {
	color: #638ca6;
	padding-right: 10px;
	line-height: 1
}

.modal .modal-header h4>span {
	color: #66728c;
	line-height: 1;
	padding-top: 6px;
	margin-right: 35px
}

.c-btn-like-a {
	margin-right: 12px;
	padding: 5px 5px 3px 5px;
	line-height: 1;
	display: block;
	border-bottom: 2px solid transparent;
	cursor: pointer
}

.c-btn-like-a>i {
	color: #52bf8a
}

.c-btn-like-a>span {
	color: #66728c;
	padding-left: 5px
}

.c-btn-like-a:hover {
	text-decoration: none;
	border-bottom: 2px solid #52bf8a
}

.login-wrap {
	position: relative;
	height: 100%
}

.login-wrap .login-box {
	position: absolute;
	top: 80px;
	left: 50%;
	margin-left: -270px;
	width: 520px;
	height: 320px;
	background: #fff;
	border: 1px solid #dee1e7
}

.login-wrap .login-box .login-title {
	height: 45px;
	background: #638ca6;
	color: #fff;
	line-height: 45px;
	padding: 0 15px
}

.login-wrap .login-box .btn-sign {
	width: 100%;
	height: 35px;
	background: #638ca6;
	color: #fff
}

#main_tab_box .tabs {
	display: none
}

.images-name {
	position: absolute;
	left: 10px;
	top: 3px;
	z-index: 999;
}

.images-name1 {
	position: absolute;
	left: 35px;
	top: 3px;
}

.pull_img {
	width: 17px;
	height: 20px;
	margin-top: 14px;
	margin-right: 10px;
	float: left
}

.pull_img1 {
	width: 25px;
	height: 25px;
	margin-top: 7px;
	margin-right: 10px;
	float: left
}

.Task-number {
	padding: 0;
	height: 30px;
}

.bor_no td {
	padding: 5px 5px;
}

.easyui-back span {
	background: none;
}

.easyui_img {
	position: absolute;
	top: 3px;
	left: 3px;
}

.active_gai {
	border-bottom: 3px solid #0485E2;
}

.active_gai i {
	color: #0485E2;
}

.dropdown-menu .active_gai a {
	background: #337AB7;
	color: #fff;
}

.ui_p input {
	border-radius: 4px;
	border: 1px solid #ccc;
}

.col-sm-D .tx-editor-wrapper .tx-editor {
	height: 230px;
}

.tubiao i {
	position: absolute;
	left: 2px;
}

.btn_tb2 td, .btn_tb2 th {
	padding: 10px 10px 0 0;
}

.combobox-item {
	position: relative;
}

.combo_left {
	margin-left: 15px;
}

.combobox_input {
	position: absolute;
	top: 0;
	left: 2;
}
/*# sourceMappingURL=style.css.map .bor_no td span,.bor_no td textarea{border:none;}*/
.fwq_img {
	width: 17px;
	height: 20px;
	margin-top: 4px;
}

.fwq_img1 {
	width: 17px;
	height: 20px;
	margin-top: 7px;
}

.switch_a {
	overflow: hidden;
	display: inline-block;
	width: 65px;
	height: 20px;
	border: 1px solid #000;
	position: absolute;
	left: 35px;
}

.switch_a i {
	display: block;
	background: url(../images/on_off.png) no-repeat 0 0px;
	background-size: contain;
	width: 99px;
	height: 33px;
	position: absolute;
	top: -5px;
}

.m-taskli-ul2 .m-task-info-w1>span.m-task-name {
	text-indent: 80px;
}

.m-taskli-ul3 .m-task-info-w1>span.m-task-name {
	text-indent: 104px;
}

.left_3 {
	left: 60px;
}

.left_i3 {
	left: 24px;
}

.left_4 {
	left: 85px;
}

.left_i4 {
	left: 50px;
}

.tb-kettleLine {
	height: 30px;
}

.combobox-item-selected span {
	background: rgb(0, 129, 194);
	height: 23px;
	display: inline-block;
	line-height: 23px;
}

.z-mainf-head {
	height: 30px;
	border: 1px solid #dee1e7;
	margin-bottom: 15px;
}

.rightHistogram {
	float: right;
}

.switchbtn:before {
	font-family: "iconfont", sans-serif !important;
	content: "\e6c3";
	font-size: 20px;
	color: #95B8E7;
	font-style: normal;
}

.gotopbtn, .switchbtn, .godownbtn {
	cursor: pointer;
	display: inline-block;
	width: 26px;
	position: relative;
}

.gotopbtn:before {
	font-family: "iconfont", sans-serif !important;
	content: "\e608";
	font-size: 22px;
	color: #95B8E7;
	font-style: normal;
}

.shrink_screen_where .screen_conset {
	float: left;
	margin-top: 3px;
}

.shrink_screen_where {
	height: 30px;
}

.shrink_screen_where .sousuo {
	float: left;
	margin: 3px 0px;
	width: 50px;
	height: 25px;
}

.shrink_screen_where .top_stop {
	display: none;
}

.shrink_screen_where .top_bottom {
	display: block;
}

.godownbtn:before {
	font-family: "iconfont", sans-serif !important;
	content: "\e604";
	font-size: 20px;
	color: #95B8E7;
	font-style: normal;
}

.tab_Label {
	width: 100%;
	height: 30px;
	background: #F2F2F2;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	cursor: pointer;
	padding: 0 10px;
}

.tab_Label li {
	float: left;
	width: 50%;
	height: 27px;
	text-align: center;
	line-height: 30px;
	margin-top: 3px;
	color: #0088CC;
}

.tab_Label .tab_li {
	background: #fff;
	border: 1px solid #D4D4D4;
	border-bottom: none;
	border-radius: 5px;
	color: #000;
	font-weight: bold;
}

.ui-info {
	background: #FFFEE6;
	color: #8F5700;
	padding: 12px;
}

.ui-tip {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	float: left;
}

.export_group {
	margin: 20px 0 0 20px;
}

.export_group span {
	color: #515d6e;
	font-size: 13px;
	font-weight: bold;
	width: 100px;
	text-align: right;
	display: inline-block;
}

.export_group input {
	width: 240px;
}

.Excellent {
	font-size: 14px;
	display: inline-block;
	width: 50px;
	height: 25px;
	border: none;
	text-align: center;
	line-height: 25px;
	border-radius: 5px;
	background: #337ab7;
	color: #fff;
	margin-top: 20px;
	margin-left: 125px;
}

.Exc_cancel {
	margin-left: 20px;
	background: #26B99A;
}

.number_content tr {
	height: 30px;
	background: #fff;
	border-bottom: 1px solid #ccc;
}

.number_content tr td {
	border-right: 1px solid #ccc;
}

.number_mai {
	width: calc(100% - 850px);
	margin-top: 30px;
	margin-left: 585px;
}

.number_chart {
	width: calc(100% - 270px);
	margin-top: 30px;
}

.Chart {
	height: 500px;
	width: 550px;
	margin-left: 270px;
	border: 1px solid #ccc;
	top: 100px;
	padding-top: 65px;
	position: absolute;
	background: #fff !important;
}

.Schedule {
	position: relative;
}

.Schedule_p {
	width: 100%;
	height: 20px;
	background: #fff;
	border-radius: 5px;
	margin: 20px 5%;
}

.Schedule_p i {
	background: rgba(4, 133, 226, 0.7);;
	height: 20px;
	display: block;
	border-radius: 5px;
}

.m_height {
	height: 100%;
	background: #E6E6E6;
}

.progressd_h4 {
	font-size: 18px;
	color: #fff;
	padding: 15px;
	border-bottom: 1px solid #fff;
}

.m_height_div {
	background: #A7A7A7;
}

.Schedule_number {
	position: absolute;
	right: -116px;
	top: 18px;
	font-size: 18px;
	color: #fff;
}

.fanhui {
	position: absolute;
	top: 10px;
	bottom: 0;
	right: 0;
	left: 270px;
	background: #f0f0f0;
}

.fanhui_but {
	width: 60px;
	height: 30px;
}

.fanhui_html {
	float: right;
	margin-right: 30px;
	width: 90px;
	height: 30px;
	position: absolute;
	top: 8px;
	right: 0;
}

.fanhui_html1 {
	float: right;
	margin-right: 150px;
	width: 90px;
	height: 30px;
	position: absolute;
	top: 8px;
	right: 0;
}

.fanhui_html2 {
	float: right;
	margin-right: 280px;
	width: 90px;
	height: 30px;
	position: absolute;
	top: 8px;
	right: 0;
}

.Match_value {
	font-size: 16px;
	color: #000;
	width: 120px;
	text-align: right;
	padding-top: 10px;
}

.important {
	font-size: 18px;
	color: #f00;
}

.Newly_build {
	width: 100px;
	padding-right: 10;
	font-weight: bold;
	font-size: 13px;
	line-height: 25px;
	text-align: right;
	color: #515d6e;
}

.preview {
	position: absolute;
	bottom: 16px;
	z-index: 999;
	right: 336px;
	width: 74px;
	height: 24px;
	line-height: 22px;
	font-size: 12px;
	border-radius: 3px;
	border: 1px solid #ccc;
	background: #e6e6e6;
	color: #333;
}

.editor {
	cursor: pointer;
	display: inline-block;
	width: 31px;
	height: 20px;
	margin-left: 10px;
	margin-top: 2px;
	border-radius: 5px;
	background: url(../images/edit.png) no-repeat;
	background-size: contain;
	position: absolute;
}

.ruleInfo {
	padding-left: 20px;
	display: inline-block;
	width: 100%;
	text-align: center;
	height: 50px;
	border: 1px solid #ccc;
}

.main_repeat {
	width: 550px;
	text-align: center;
	font-size: 14px;
	color: #000;
	position: absolute;
	top: 115px;
	left: 248px;
	line-height: 10px;
}

.right_img {
	border-radius: 15px;
	background: #f00;
	margin-left: 10px;
	cursor: pointer
}

.Determine {
	position: absolute;
	bottom: 6px;
	left: 6px;
	width: calc(100% - 13px);
	padding: 10 0;
	background: #F5F8FB;
}

.Titled {
	width: 100%;
	height: 50px;
	border-bottom: 3px solid #000;
}

.Titled_img {
	float: left;
	height: 30px;
	margin-top: 10px;
	margin-left: 30px;
}

.Titled_h1 {
	float: left;
	margin-top: 10px;
	margin-left: 20px;
}

.Titled_h2 {
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}

.Titled_h1 p {
	line-height: 16px;
	font-size: 16px;
	margin: 0;
}

.select-combobox {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border-radius: 2px;
	font-size: 12px;
	border: 1px solid #D4D4D4;
	background: url('../images/combo_arrow1.png') no-repeat center right;
}

.select-combobox:hover {
	background: url('../images/combo_arrow2.png') no-repeat center right;
}

.matchClass, .expressName, .expressClass {
	font-size: 12px;
	border-radius: 2px;
	height: 24px;
	padding: 2px 6px;
	color: #000;
	border: 1px solid #D4D4D4;
}

#tableId tr:nth-of-type(1) {
	background: #F1EBEB;
}

.See_div {
	position: absolute;
	top: 10px;
	right: 100px;
}

.See_div .See_select {
	height: 24px;
	float: left;
}

.profileShow {
	font-size: 12px;
}