.tableHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 12px 0 12px 20px;
  :global(.ant-btn-icon-only.ant-btn-sm:first-child) {
    margin-right: 0;
  }

  :global {
    .ant-checkbox-wrapper {
      color: #10416c;
      font-weight: bold;
      font-size: 12px;
    }
  }
}
