// utils
@tab_height: 500px;
@textarea_height: 90px;
@comment_btns_height: 30px;

.txt-sub {
  em {
    font-size: 13px;
    font-style: normal;
    vertical-align: sub;
  }
}

.down-attachments-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  > .download-all {
    cursor: pointer;
  }
}

.pop-shadow {
  :global {
    .ant-popover-arrow {
      display: block;
    }
    .ant-popover-inner {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    }
  }
}

.gr-descriptions {
  margin: 0;
  padding: 0;
  color: #464c51;
  font-weight: 500;
  > li {
    display: flex;
    margin-bottom: 30px;
    em {
      font-style: normal;
    }
    > span:first-child {
      opacity: 0.7;
    }
  }
  :global {
    .ant-table-content .ant-table-placeholder {
      border-bottom: 1px solid #e8e8e8;
    }
  }
}

.btns {
  margin-bottom: 10px;
  .page-name {
    color: #464c51;
    font-weight: 500;
    > .icon {
      margin-right: 4px;
      font-size: 12px;
    }
  }
  .btn-icon {
    margin-right: 4px;
    font-size: 12px;
  }
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    margin-right: 10px;
    padding: 0 14px;
    color: #464c51;
    font-size: 12px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid rgba(151, 154, 168, 1);
    border-radius: 0;
    &.loading {
      pointer-events: none;
    }
    &:focus {
      outline: none;
    }
    &:last-child {
      margin-right: 0;
    }
    &.discontinue {
      color: #f8374c;
      border-color: #f8374c;
      &:hover {
        color: #fff;
        background-color: #f8374c;
        border-color: #f8374c;
      }
    }
    &:disabled {
      color: unset;
      background-color: unset;
      border: 1px solid rgba(151, 154, 168, 1);
      &:hover {
        color: unset;
        background-color: unset;
        border-color: unset;
        cursor: not-allowed;
      }
    }
    &:hover {
      color: #fff;
      background-color: #0d87d4;
      border-color: #0d87d4;
      cursor: pointer;
    }
  }
  .info {
    margin-right: 10px;
    color: #464c51;
    font-weight: 500;
    text-decoration: underline;
    &:hover {
      color: #009cff;
    }
  }
}
.list-container {
  margin: 10px 5px 0 !important;
  .list {
    margin-bottom: 5px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(166, 171, 173, 0.6);
    :global {
      .word-break {
        word-break: break-all;
      }
      .ant-table-pagination.ant-pagination {
        margin-bottom: 10px;
      }
      .ant-alert {
        margin-bottom: 10px;
        padding: 5px 8.5px 5px 4.5px;
        color: #464c51;
        font-weight: 500;
        font-size: 12px;
        .ant-alert-message {
          .anticon-exclamation-circle {
            margin-right: 4px;
            color: #0d87d4;
          }
          em {
            color: #0d87d4;
            font-style: normal;
          }
        }
        .ant-alert-close-text {
          color: #0d87d4;
          font-weight: 500;
          text-decoration: underline;
        }
        .ant-alert-close-icon {
          top: 6px;
          right: 5px;
          line-height: 1;
        }
      }
    }
  }
}

.icon-btns {
  button {
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      .icon {
        color: #ccc;
        &:hover {
          color: #ccc;
        }
      }
    }
    &:first-child {
      margin-right: 8px;
    }
    .icon {
      color: #bcc6cc;
      font-size: 13px;
      &:hover {
        color: #1e416c;
      }
    }
  }
}

.detail-container {
  margin-bottom: 5px;
  .fullscreen-icon {
    margin: 9px 10px 9px 0;
    font-size: 22px;
    cursor: pointer;
  }
  :global {
    .ant-tabs-card {
      > .ant-tabs-content {
        height: @tab_height;
        padding: 10px;
        overflow-y: auto;
        background-color: #fff;
        box-shadow: 0 0 1px 0 rgba(166, 171, 173, 0.6);
      }
      > .ant-tabs-bar {
        background-color: #f0f2f4;
        .ant-tabs-extra-content {
          line-height: 1;
        }
        .ant-tabs-tab {
          background-color: transparent;
          border: none;
        }
        .ant-tabs-tab-active {
          color: #464c51;
          background-color: #d9e7f1;
        }
      }
    }
  }
  .fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999; // should less than 1000
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    background-color: #fff;
    :global {
      .ant-tabs-content {
        height: auto;
      }
    }
  }
  .detail-comment {
    :global {
      .ant-tabs-content {
        padding: 0;
      }
    }
    .comment-list {
      height: @tab_height - @textarea_height - @comment_btns_height;
      margin: 0;
      padding: 10px;
      overflow-y: auto;
      > li {
        padding: 4px 0;
        .attachmentsBox {
          position: absolute;
          right: 12px;
          color: #464c51;
          .num {
            font-size: 11px;
            .txt-sub();
          }
        }
        .attachmentsTimeBox {
          position: relative;
          .time {
            position: absolute;
            top: -18px;
            right: 22px;
            color: #7f91a4;
          }
        }
      }
    }
    .comment-box {
      > .txt {
        height: @textarea_height;
        resize: none;
      }
      .comment-commit {
        .phrase-btn {
          color: #464c51;
          background-color: #d5ebf8;
          border-color: #d5ebf8;
        }
        .up-icon {
          margin-right: 4px;
          cursor: pointer;
          .txt-sub();
          &:hover {
            color: #1e416c;
          }
        }
      }
    }
    .logs {
      padding: 10px;
    }
  }
}

// information
.info-detail {
  :global {
    .ant-tabs-card > .ant-tabs-content {
      height: 300px;
    }
  }
}

.email-container {
  .email-header {
    padding: 6px 10px;
    background-color: #ebf4d9;
    border-bottom: 2px solid #c2c6ab;
    .title {
      font-weight: bolder;
    }
    .common {
      color: #cfd2be;
      font-size: 12px;
    }
  }
  .email-content {
    padding: 10px 20px 0;
  }
}

.comment-attachment-container {
  .title {
    .down-attachments-title();
  }
  .pop-shadow();
  :global {
    .ant-popover-inner {
      width: 240px;
    }
  }
}

.phases-container {
  .phase {
    margin: 0;
    padding: 6px 10px;
    > li {
      cursor: pointer;
      &:hover {
        color: #4c83b3;
      }
    }
  }
  .pop-shadow();
  :global {
    .ant-popover-inner {
      min-width: 150px;
    }
  }
}

.up-attachments {
  background-color: #eef1f4;
  .file-desc {
    display: flex;
    justify-content: space-between;
    padding: 4px 10px;
    color: #3d4a59;
    span:last-child {
      cursor: pointer;
      &:hover {
        color: #1e416c;
      }
    }
  }
  > ul {
    margin: 0;
    padding: 6px 10px;
    color: #464c51;
    .icon-btns > a {
      color: #464c51;
    }
    .icon {
      margin-right: 4px;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        color: #1e416c;
      }
    }
  }
}

.alert-attachments {
  padding: 6px 10px;
  .title {
    .down-attachments-title();
  }
}

.down-attachment-list {
  max-height: 150px;
  margin: 0;
  padding: 6px 14px;
  overflow-y: auto;
  > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
    line-height: 24px;
    .file-icon {
      margin-right: 6px;
      font-size: 16px;
    }
    .icon {
      font-size: 20px;
      cursor: pointer;
    }
    > a {
      color: #464c51;
      line-height: 1;
    }
    &:hover {
      span,
      a {
        color: #0d87d4;
      }
    }
  }
}
