.bottom-btns {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 16px;
  text-align: right;
  background-color: #fff;
  border-top: 1px solid #e9e9e9;
  :global {
    .ant-btn {
      width: auto;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.list-container {
  padding: 0 4px;
  .list {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(166, 171, 173, 0.6);
    :global {
      .ant-table-tbody tr {
        &.active {
          color: #0d87d4;
        }
      }
    }
  }
  .btns {
    margin-bottom: 10px;
    .btn-icon {
      font-size: 18px;
      vertical-align: middle;
    }
    :global {
      .ant-btn {
        width: auto;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.icon {
  color: #4e5459;
  font-size: 20px;
  cursor: pointer;
  &:nth-child(2) {
    font-size: 18px;
  }
}

.detail-container {
  margin-bottom: 20px;
  .tab-content {
    padding: 0 18px;
  }
  .fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999; // should less than 1000
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    overflow: hidden;
    background-color: #fff;
  }
  .detail-des {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(166, 171, 173, 0.6);
    .fullscreen-icon {
      margin: 14px 14px 0 0;
      font-size: 22px;
      cursor: pointer;
    }
  }
  .detail-comment {
    background-color: #fff;
    .comment-list {
      min-height: 200px;
      max-height: 300px;
      margin: 0 0 18px;
      padding: 0 18px;
      overflow-y: auto;
    }
    .loading-more {
      text-align: center;
      > button {
        height: 30px;
      }
    }
    .comment-box {
      padding-top: 8px;
      background-color: #f6f9fa;
      > .txt {
        height: 100px;
      }
      .comment-commit {
        height: 46px;
        background-color: #fff;
      }
      .up-attachments {
        background-color: #eef1f4;
        .file-desc {
          padding: 4px 10px;
          color: #3d4a59;
        }
        > ul {
          margin: 0;
          padding: 6px 16px;
          color: #464c51;
        }
      }
      :global {
        .ant-btn {
          width: auto;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}
.phase {
  min-width: 150px;
  margin: 0;
  padding: 6px 10px;
  > li {
    cursor: pointer;
    &:hover {
      color: #4c83b3;
    }
  }
}
