:global {
  .ant-btn {
    width: auto;
  }
  .ant-table-thead tr th {
    background-color: #fff;
  }
  .ant-table-tbody tr {
    td,
    &:hover {
      background-color: #fff;
    }
  }
  .ant-layout-content > div {
    margin: 0 !important;
  }
}

.nav {
  height: 30px;
  padding-left: 10px;
  color: #10416c;
  line-height: 30px;
  background-color: #ddefff;
}

.list-container {
  padding: 0 4px;
  .alerts {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(166, 171, 173, 0.6);
  }
  .btns {
    margin: 10px 0;
    .btn-icon {
      font-size: 18px;
      vertical-align: middle;
    }
  }
}

.detail-container {
  .tab-content {
    padding: 0 18px;
  }
  .detail-des {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(166, 171, 173, 0.6);
    .fullscreen {
      margin: 14px 14px 0 0;
      font-size: 22px;
      cursor: pointer;
    }
  }
  .detail-comment {
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(166, 171, 173, 0.6);
    .comment-ul {
      max-height: 300px;
      margin: 0;
      padding: 0 18px;
      overflow-y: auto;
      > li {
        margin-bottom: 10px;
      }
    }
  }
}
