.icon {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
}

.filter-icon {
  color: rgba(17, 65, 108, 0.6);
  font-size: 16px;
  &.active {
    color: #ea6473;
  }
}

.title {
  padding: 4px 10px;
  color: #fff;
  background-color: #10416c;
  border-left: 4px solid #f4374c;
  .clear {
    cursor: pointer;
    > .text {
      font-size: 12px;
      vertical-align: middle;
    }
  }
}
.container {
  :global {
    .ant-popover-inner-content {
      padding: 0;
    }
  }
}
.content {
  position: relative;
  padding: 16px 16px 50px;
  border: 1px solid #10416c;
  .bottom-btns {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 16px;
    text-align: right;
    background-color: #fff;
    border-top: 1px solid #e9e9e9;
    > button {
      width: auto;
      height: 24px;
      padding: 0 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.filter-type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #10416c;
  border-bottom: 0;
  > span {
    padding: 0 6px;
    color: #10416c;
    font-size: 12px;
  }
  > .type {
    flex: 1;
    overflow: hidden;
    font-size: 12px;
    :global {
      .ant-select-selection {
        border: 0;
        &:active,
        &:focus {
          box-shadow: unset;
        }
      }
    }
  }
}

.des {
  height: 26px;
  margin-bottom: 10px;
  padding-left: 16px;
  color: #464c51;
  line-height: 26px;
  text-align: left;
  background-color: #f9f9f9;
}

.selectbox {
  height: 245px;
  overflow-y: auto;
  text-align: center;
  border: 1px solid #10416c;
  .select {
    width: 90%;
  }
}
.checkbox {
  border: 1px solid #10416c;
  .search {
    border: 0;
    border-bottom: 1px solid #10416c;
    box-shadow: unset;
    &:focus,
    &:hover {
      border: 0;
      border-bottom: 1px solid #10416c;
    }
    input {
      color: #10416c;
      background: #f2f6f8;
      border: 0;
      outline: none;
      box-shadow: unset;
      &:focus,
      &:hover {
        border: 0;
      }
    }
  }

  .check-content {
    padding: 0 16px;
    .scroll-container {
      width: 100%;
      height: 140px;
      overflow-y: auto;
    }
  }
}
