@import '~@/assets/css/utils.less';

// 取消 保存按钮
.buttonGroup {
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: right;
  border-bottom: 1px rgba(129, 154, 179, 0.7) solid;
}

.informationKey {
  width: 200px;
  color: #8996a2;
}
.bgColor {
  padding: 30px;
  background-color: #f2f6f8;
  > div {
    margin-bottom: 30px;
  }
}

// :global {
// }
