@import '~@/assets/css/utils.less';

.addDataSet {
  :global {
    .CodeMirror-hints {
      z-index: 999999;

      li {
        padding: 5px 10px;
        color: #10416c;
        font-size: 12px;
      }

      li.CodeMirror-hint-active {
        color: #10416c;
        background-color: #efefef;
      }
    }

    pre.CodeMirror-line {
      padding-top: 5px;
      padding-left: 10px;
    }
    .ant-input {
      width: 150px;
      color: #fff;
      background: transparent;
      border: none;
    }
  }

  .header {
    height: 45px;
    padding: 0;
    line-height: 45px;
    background-color: #10416c;

    .backBtn {
      width: 50px;
      height: 45px;
      margin-right: 0;
      color: #fff;
      font-size: 18px;
      text-align: center;
      background: transparent;
      border: 1px solid transparent;
      border-right: 1px dotted #fff;
      border-radius: 0;
    }

    .searchBoxButton {
      min-width: 90px;
      margin-right: 15px;
      background-color: #0d87d4;
      border-color: #0d87d4;
    }
    .searchBoxButton:hover {
      background-color: #009cff;
      border-color: #009cff;
    }
  }

  .layoutContent {
    :global {
      .ant-layout-sider {
        background-color: #fff !important;
      }
      .noBorerComponent.ant-input {
        width: 100%;
        color: #000;
        background: #fff;
        border: 0;
        border-top: 1px solid #ddd;
        border-radius: 0;
        box-shadow: none;
      }
    }
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: 30px;
      padding: 0 8px 0 7px;
      color: #10416c;
      font-size: 12px;
    }

    .toolsBox {
      margin: 0;
      padding: 0;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      .noBorerComponent {
        width: 100%;

        :global {
          .ant-select-selection {
            background-color: transparent;
            border: none;
            border-radius: 0;
            box-shadow: none;

            .ant-select-selection__rendered {
              margin: 0;
              padding: 0 7px;
            }
          }
        }
      }
    }

    .list {
      height: calc(100vh - 166px);
      margin-bottom: 0;
      padding: 0;
      overflow-y: auto;

      li {
        padding: 6px 12px;
        font-size: 12px;
        cursor: pointer;
        .textOverflow();

        i {
          margin-right: 4px;
          color: #10416c;
          font-size: 13px;
        }

        &.active {
          color: #fff;
          background: #10416c;
          i {
            color: #fff;
          }
        }

        & + li {
          border-top: 0 solid #ddd;
        }
      }
    }

    .buttonActions {
      background: #f2f6f8;
      border-top: 1px solid #ddd;

      :global {
        .ant-checkbox-wrapper {
          font-size: 12px;
        }
      }
    }
  }

  .layoutTable {
    position: relative;
    height: calc(100vh - 45px);
    background-color: #fff;
    border-left: 1px solid #ddd;

    :global {
      .ant-input-number {
        height: 28px;
        border-radius: #ddd;
        // border: 1px solid $green;
        .ant-input-number-input {
          height: 28px;
          font-size: 12px;
        }
      }

      .CodeMirror {
        height: 200px;
      }
    }

    .tableWrapper {
      height: 100%;
      background: #fff;

      .flowContent {
        position: relative;
        height: 200px;
        overflow-y: auto;
      }

      .searchBox {
        position: relative;
        height: 36px;
        padding-top: 4px;
        background-color: #f9f9f9;
        border-top: 1px solid #cbcbcb;
        border-bottom: 1px solid #cbcbcb;

        // @include clearfix;

        .icon {
          width: 26px !important;
          height: 26px;
          margin: 0;
          margin-left: 5px;
          padding: 0;
          font-size: 14px;
          border: none;

          i {
            cursor: pointer;
          }
        }

        :global {
          .ant-btn {
            background-color: transparent;
          }
          .ant-btn:active,
          .ant-btn:hover,
          .ant-btn:focus {
            color: #10416c;
            background-color: #dfd9e8;
          }
          .ant-checkbox-wrapper {
            font-size: 12px;
          }
        }
        .tableActive {
          background: #dfd9e8;
        }
      }

      :global {
        .ant-table-bordered.ant-table-empty .ant-table-placeholder {
          border-right: none;
          border-bottom: none;
          border-left: none;
        }

        .ant-table-bordered .ant-table-body > table {
          border: none;
        }
      }
    }
  }

  .editDataSetTable {
    height: calc(100vh - 281px);
    overflow-y: auto;

    &.noDataNoScroll {
      :global {
        .ant-table-header {
          overflow-x: hidden;
        }
      }
    }

    :global {
      .ant-table-header {
        margin-right: 12px;
        overflow-y: hidden !important;
      }

      .react-resizable {
        position: relative;
      }

      .react-resizable-handle {
        position: absolute;
        right: -5px;
        bottom: 0;
        width: 10px;
        height: 100%;
        background: none;
        cursor: col-resize;
      }

      .ant-table-fixed {
        border-left: #ddd !important;
      }
    }

    .titleHasIcon {
      position: relative;
      white-space: nowrap;
      text-align: center;

      // margin-top:10px;
      i {
        padding-right: 3px;
        padding-bottom: #ddd;
        font-size: 15px;
        vertical-align: text-bottom;
      }
    }
  }

  .inputNumber {
    margin: 0 10px 0 10px;
  }
}
.paramsDrawer {
  :global {
    .ant-row {
      margin-top: 10px;
      line-height: 50px;
    }
    .ant-col {
      padding-left: 20px;
      background-color: #f2f6f8;
    }
  }
}
