{{#if flag}}
	<tr><td colspan="4" class="text-center">暂无数据</td></tr>
{{else}}
    {{#each this}}
        <tr>
            <td class="t-l"> {{oldValue}} </td>
            <td class="t-l"> {{newValue}} </td>
        </tr>
    {{/each}}
{{/if}}