@import '~@/assets/css/utils.less';
@font-face {
  font-family: 'AvenirHeavy';
  src: url('../assets/images/AvenirHeavy.otf');
}
@font-face {
  font-family: 'AvenirBook';
  src: url('../assets/images/AvenirBook.ttc');
}

.footerRender {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #9ab3ca;
  text-align: right;
  background-color: #10416c;
  img {
    height: 35px;
    margin-left: 20px;
  }
  div {
    margin-right: 20px;
    font-size: 12px;
  }
}

.headerRender {
  display: flex;
  justify-content: space-between;
  height: 100%;
  box-shadow: 0 0 6px #e6e9ea;
  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-right: 1px dotted #aaa69c;
    .collapsed {
      font-size: 22px;
    }
  }
  .right {
    display: flex;
    max-width: 200px;
    height: 45px;
    color: #10416c;
    .info {
      display: flex;
      align-items: center;
      width: 35px;
      height: 45px;
      border-right: 1px dotted #aaa69c;
      & > span {
        line-height: 15px;
      }
      .bell {
        font-size: 22px;
        cursor: pointer;
      }
    }
    .user {
      display: flex;
      align-items: center;
      height: 45px;
      padding-right: 10px;
      .avatar {
        margin-right: 5px;
        margin-left: 13px;
        font-size: 22px;
      }
      .username {
        max-width: 100px;
        margin-right: 5px;
        overflow: hidden;
        font-family: AvenirHeavy, sans-serif;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
:global {
  .userinfo.ant-popover-placement-bottomRight {
    padding-top: 12px;
  }
  .taskinfo.ant-popover-placement-bottomRight {
    padding-top: 7px;
  }
  .ant-pro-basicLayout-content.ant-pro-basicLayout-has-header {
    padding-top: 45px;
  }
  .ant-popover-inner-content {
    padding: 0;
  }
  .ant-popover-arrow {
    display: none;
  }
}
.popoverFooter {
  width: 200px;
  height: 40px;
  font-size: 12px;
  line-height: 40px;
  text-align: center;
  a {
    color: #464c51;
  }
}
.popoverFooter:hover {
  background-color: #f3f6f9;
  a {
    color: #0d87d4;
  }
}
.infoContent {
  display: flex;
  flex-direction: column;
  a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 40px;
    padding: 0 10px;
    color: #97a4b0;
    font-size: 12px;
  }
  a:hover {
    color: #0d87d4;
    background-color: #f3f6f9;
  }
}
