@import '~@/assets/css/utils.less';
@font-face {
  font-family: 'AvenirHeavy';
  src: url('@/assets/images/AvenirHeavy.otf');
}
.homepage {
  margin: 0 5px !important;
  :global {
    .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab:hover {
      color: #0d87d4;
      font-family: AvenirHeavy, sans-serif;
    }
    .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab-active.ant-tabs-tab {
      color: #0d87d4;
      font-family: AvenirHeavy, sans-serif;
    }
    .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
      padding: 10px 14px 6px;
      font-size: 14px;
      font-family: Arial, Helvetica, sans-serif;
    }
    .ant-tabs-content {
      .ant-tabs-tabpane {
        background-color: transparent;
      }
    }
    .ant-list-empty-text {
      padding: 0;
    }
    .ant-row {
      height: 330px;
      overflow: auto;
    }
    .ant-list-item:hover {
      color: #0d87d4;
      background: #f2f6f8;
      .description::before {
        background: #f2f6f8;
      }
    }
    .description {
      position: relative;
      width: 65%;
      max-height: 28px;
      margin-right: -1em;
      padding-right: 1em;
      overflow: hidden;
      line-height: 13.5px;
      text-align: justify;
      cursor: pointer;
      &::before {
        position: absolute;
        right: 12px;
        bottom: 0;
        padding: 0 1px;
        background: #fff;
        content: '...';
      }
      &::after {
        position: absolute;
        right: 14px;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: white;
        content: '';
      }
    }
  }
  .empty {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .groupTitle {
    position: relative;
    margin: 0;
    padding: 8px 5px 0;
    overflow: hidden;
    color: #464c51;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    .quickMenuIcon {
      position: absolute;
      right: 7px;
      color: #0d87d4;
    }
    .more {
      position: absolute;
      right: 15px;
      color: #0d87d4;
      font-weight: normal;
      // border-bottom: 1px solid #0d87d4;
      cursor: pointer;
    }
  }
  .groupTitle::before {
    display: inline-block;
    width: 4px;
    height: 12px;
    margin-right: 5px;
    color: #f4374c;
    background-color: #f4374c;
    border: none;
    content: '';
  }
  .submitStatus,
  .outstandingCases,
  .reported,
  .processingStage {
    .groupTitle {
      padding: 10px 10px 0;
    }
  }
  .homepageContent {
    display: flex;
    // 左侧
    .leftSide {
      display: flex;
      flex: 7 0;
      flex-direction: column;
      min-width: 644px;
      margin-right: 5px;
      // 统计模块
      .statisticalModule {
        min-width: 644px;
        height: 418px;
        background-color: #fff;
        // 头部
        .tabsHeader {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 13px 0 20px;
          // 切换按钮
          .buttonGround {
            margin-left: 12px;
            .switchButton {
              display: inline-block;
              width: 25px;
              height: 20px;
              color: #c5ccd6;
              font-size: 12px;
              line-height: 20px;
              text-align: left;
              cursor: pointer;
              transition: all 0.5s;
            }
            .switchButton:last-child {
              width: 60px;
              text-align: right;
              border-left: 1px solid #d4dde3;
            }
            .switchButton:hover {
              color: #464c51;
              transition: all 0.5s;
            }
            .buttonActive {
              color: #464c51;
            }
          }
          // 日期
          .timepicker {
            display: flex;
            align-items: center;
            margin-right: 12px;
            .text {
              margin-right: 14px;
              color: #ced3df;
              font-size: 12px;
              white-space: nowrap;
              cursor: pointer;
              transition: all 0.5s;
            }
            .text:hover {
              color: #818e9a;
            }
            .textActive {
              color: #818e9a;
            }
          }
        }
        // 统计Box
        .statisticalBox {
          display: flex;
          justify-content: space-between;
          margin: 0 12px 15px;
          color: #fff;
          font-size: 12px;
          font-family: 'AvenirHeavy', sans-serif;
          .redBox,
          .blackBox {
            display: flex;
            flex: 1;
            min-width: 200px;
            height: 90px;
            margin: 0 5px;
            padding: 12px;
            background-color: #f4374c;
            .leftBlock,
            .rightBlock {
              position: relative;
              width: 70px;
              img {
                position: absolute;
                top: 0;
                right: 0;
              }
              .title {
                margin-top: 7px;
              }
              .value {
                margin-top: 7px;
                font-size: 16px;
              }
            }
          }
          .redBox {
            margin-left: 0;
            .leftBlock {
              display: flex;
              flex: 2;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              border-right: 1px solid rgba(255, 255, 255, 0.5);
            }
            .rightBlock {
              display: flex;
              flex: 3;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }
          }
          .blackBox {
            background-color: #10416c;
            .leftBlock {
              display: flex;
              flex: 3;
              flex-direction: column;
              align-items: center;
              justify-content: center;
            }
            .rightBlock {
              flex: 2;
            }
          }
          .blackBox:last-child {
            margin-right: 0;
          }
        }
      }
      // 待处理任务
      .pendingTasks {
        flex: 1;
        min-width: 644px;
        min-height: 205px;
        margin: 5px 0;
        background-color: #fff;
        :global {
          .ant-tabs {
            .ant-tabs-bar {
              border-bottom: 1px solid #f6f8fb;
            }
          }
          .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab:hover {
            color: #464c51;
          }
          .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab-active {
            color: #464c51;
          }
          .ant-tabs .ant-tabs-bar .ant-tabs-nav .ant-tabs-tab {
            padding: 12px 14px;
            color: #464c51;
            font-size: 14px;
            font-family: Arial, Helvetica, sans-serif;
          }
        }
        .more {
          margin-right: 20px;
          color: #0d87d4;
          // border-bottom: 1px solid #0d87d4;
          cursor: pointer;
        }
        .infoList {
          :global {
            .ant-list-item {
              justify-content: space-between;
              padding: 10px 0;
              color: #464c51;
              font-size: 12px;
            }
            .ant-list-split .ant-list-item {
              border-bottom: none;
            }
          }
          .description {
            width: 60%;
            height: 20px;
            margin-left: 12px;
            overflow: hidden;
            line-height: 20px;
            cursor: pointer;
          }
          .date {
            width: 20%;
          }
          .user {
            width: 20px;
            height: 20px;
            margin-right: 60px;
            color: #fff;
            font-family: 'AvenirHeavy', sans-serif;
            line-height: 20px;
            text-align: center;
            border-radius: 50%;
          }
          .color0 {
            background-color: #f4374c;
          }
          .color1 {
            background-color: #fec642;
          }
          .color2 {
            background-color: #0d87d4;
          }
          .color3 {
            background-color: #36bb3d;
          }
        }
      }
      // submitStatus
      .submitStatus {
        display: flex;
        min-width: 644px;
        height: 366px;
        background-color: #fff;
      }
      // outstandingCases
      .outstandingCases {
        flex: 1;
        min-width: 644px;
        min-height: 257px;
        margin: 5px 0;
        background-color: #fff;
      }
    }
    // 右侧
    .rightSide {
      display: flex;
      flex: 3 0;
      flex-direction: column;
      min-width: 275px;
      .quickMenu {
        min-width: 275px;
        height: 366px;
        padding: 5px;
        background-color: #fff;
        .menuItem {
          display: flex;
          align-items: center;
          justify-content: center;
          min-width: 120px;
          height: 45px;
          margin: 5px;
          padding: 0 5px;
          color: #464c51;
          font-size: 12px;
          // font-family: 'AvenirHeavy', sans-serif;
          background-color: #f6f8fb;
          cursor: pointer;
          .icon {
            margin-right: 3px;
            color: #0d87d4;
          }
          span {
            line-height: 12px;
          }
        }
      }
      .information {
        flex: 1;
        min-width: 275px;
        min-height: 257px;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 5px;
        color: #464c51;
        font-size: 12px;
        background-color: #fff;
        :global {
          .ant-list-item {
            justify-content: space-between;
            padding: 10px 0;
            color: #464c51;
            font-size: 12px;
          }
        }
        .icon {
          width: 20px;
          padding-left: 5px;
          font-size: 14px;
        }
        .date {
          width: 27%;
          margin-left: 5px;
          color: #7f91a4;
        }
      }
      .reported {
        display: flex;
        flex-direction: column;
        min-width: 275px;
        height: 418px;
        background-color: #fff;
      }
      .processingStage {
        flex: 1;
        min-width: 275px;
        min-height: 205px;
        margin-top: 5px;
        background-color: #fff;
      }
    }
  }
}
